Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[cmake] Add petsc-lib path to RPATH.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[BL] Added convenience algorithms all_of/any_of/none_of
  BaseLib/Algorithm.h
  Tests/BaseLib/TestAlgorithm.cpp
Due: git-diff-check, file-extensions

[BL] Added template metaprogramming utilities
  BaseLib/TMP.h
  Tests/BaseLib/TestTMP.cpp
Due: git-diff-check, file-extensions

commented reference_temperature removed
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionFEM.h
Due: git-diff-check, file-extensions

remainer of reference_temperature removed
  ProcessLib/HeatConduction/HeatConductionFEM.h
Due: git-diff-check

reference_temperature removed from all HeatConduction ctests
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat.prj
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/line_1_line_1e2_source_term.prj
  Tests/Data/Parabolic/T/1D_line_source_term_tests/line_source_term.prj
  Tests/Data/Parabolic/T/1D_line_source_term_tests/moving_source_term.prj
  Tests/Data/Parabolic/T/1D_neumann/newton.prj
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping.prj
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls.prj
  Tests/Data/Parabolic/T/1D_neumann/picard.prj
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping.prj
  Tests/Data/Parabolic/T/2D_BHE_array/bhe2d.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1e2_axi.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/line_source_term_x=5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/286k_prisms/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/49k_prisms/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder_axisymmetric/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/line_source_term_x_0.5_y_0.5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/line_source_term_x_0.5_y_0.5_restricted.prj
  Tests/Data/Parabolic/T/t1_1Dsource/t1_1Dsource.prj
  Tests/Data/Parabolic/T/t1_1Dsteady/t1_1Dsteady.prj
  Tests/Data/Parabolic/T/t2_1D1bt/t2_1D1bt.prj
  Tests/Data/Parabolic/T/t2_1D2bt/t2_1D2bt.prj
Due: none

reference_temperature removed from assembleWithJacobian
  ProcessLib/HeatConduction/HeatConductionFEM.h
Due: git-diff-check

variable temperature now also holds the temperature
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionFEM.h
Due: git-diff-check, file-extensions

[MeL] Add explicit handling of signed char.
  MeshLib/MeshGenerators/VtkMeshConverter.cpp
Due: git-diff-check, file-extensions

[ShapeMatrixType] Format
  NumLib/Fem/CoordinatesMapping/ShapeMatrices.h
Due: git-diff-check

Update code-coverage.yml to always store artifacts.
  scripts/ci/jobs/code-coverage.yml
Due: git-diff-check

Deleted stale symlinks in Tests/Data/PhreeqcDatabase.
  Tests/Data/PhreeqcDatabase/Amm.dat
  Tests/Data/PhreeqcDatabase/ColdChem.dat
  Tests/Data/PhreeqcDatabase/ReadMe.txt
  Tests/Data/PhreeqcDatabase/Tipping_Hurley.dat
  Tests/Data/PhreeqcDatabase/core10.dat
  Tests/Data/PhreeqcDatabase/frezchem.dat
  Tests/Data/PhreeqcDatabase/iso.dat
  Tests/Data/PhreeqcDatabase/llnl.dat
  Tests/Data/PhreeqcDatabase/minteq.dat
  Tests/Data/PhreeqcDatabase/minteq.v4.dat
  Tests/Data/PhreeqcDatabase/phreeqc.dat
  Tests/Data/PhreeqcDatabase/pitzer.dat
  Tests/Data/PhreeqcDatabase/sit.dat
  Tests/Data/PhreeqcDatabase/wateq4f.dat
Due: none

[T] Slightly relax ctests' tolerances.
  ProcessLib/LIE/SmallDeformation/Tests.cmake
  Tests/Data/HydroMechanics/A2/A2.prj
  Tests/Data/Mechanics/Linear/PythonPiston/piston.prj
Due: git-diff-check

[T/LIE/M] Remove stray comment.
  ProcessLib/LIE/HydroMechanics/Tests.cmake
Due: git-diff-check

Replacing heat_capacity with specific_heat_capacity in ctests
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat.prj
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_source_term.prj
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/line_1_line_1e2_source_term.prj
  Tests/Data/Parabolic/T/1D_line_source_term_tests/line_source_term.prj
  Tests/Data/Parabolic/T/1D_line_source_term_tests/moving_source_term.prj
  Tests/Data/Parabolic/T/1D_neumann/newton.prj
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping.prj
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls.prj
  Tests/Data/Parabolic/T/1D_neumann/picard.prj
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping.prj
  Tests/Data/Parabolic/T/2D_BHE_array/bhe2d.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1e2_axi.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/line_source_term_x=5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/286k_prisms/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/49k_prisms/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder_axisymmetric/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/line_source_term_x_0.5_y_0.5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/line_source_term_x_0.5_y_0.5_restricted.prj
  Tests/Data/Parabolic/T/t1_1Dsource/t1_1Dsource.prj
  Tests/Data/Parabolic/T/t1_1Dsteady/t1_1Dsteady.prj
  Tests/Data/Parabolic/T/t2_1D1bt/t2_1D1bt.prj
  Tests/Data/Parabolic/T/t2_1D2bt/t2_1D2bt.prj
Due: none

Replacing heat_capacity with specific_heat_capacity
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionFEM.h
Due: git-diff-check, file-extensions

[MPL] Add material id to medium's description.
  Applications/ApplicationsLib/ProjectData.cpp
  MaterialLib/MPL/CreateMedium.cpp
  MaterialLib/MPL/CreateMedium.h
  MaterialLib/MPL/Medium.cpp
  MaterialLib/MPL/Medium.h
  Tests/MaterialLib/TestMPL.cpp
Due: git-diff-check, file-extensions

add parameter to config, use it in HM process and document it
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_coupling_scheme_parameter.md
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
  web/content/docs/userguide/basics/conventions.md
  web/data/bib_other.yaml
Due: git-diff-check, file-extensions

[T/TES] Temporary disable ctest for coverage build
  ProcessLib/TES/Tests.cmake
Due: git-diff-check

[ML/PhF] VolDevDegradedStress re-implementation using a heaviside function
  MaterialLib/SolidModels/LinearElasticIsotropicPhaseField.h
Due: git-diff-check

simplify if-cascade for setting and checking
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions

adapt benchmark documentation
  web/content/docs/benchmarks/hydro-mechanics/InjectionProduction.md
Due: git-diff-check

[MaL] copyValues resizes target vector
  MathLib/LinAlg/Eigen/EigenVector.h
  MathLib/LinAlg/Lis/LisVector.h
  MathLib/LinAlg/PETSc/PETScVector.cpp
  MathLib/LinAlg/PETSc/PETScVector.h
Due: git-diff-check, file-extensions

[PL] Got rid of a Petsc special case
  ProcessLib/Output/ProcessOutput.cpp
  Tests/MathLib/TestGlobalVectorInterface.cpp
Due: git-diff-check, file-extensions

[T/RF] Remove duplication of ref.temp. property
  Tests/Data/RichardsMechanics/RichardsFlow_2d_richardsflow.prj
Due: none

[MPL] Check if scale is set in description output
  MaterialLib/MPL/Property.cpp
Due: git-diff-check, file-extensions

[PL/PhF] Bug fix. Use global index in BC.
  ProcessLib/BoundaryConditionAndSourceTerm/PhaseFieldIrreversibleDamageOracleBoundaryCondition.cpp
Due: git-diff-check, file-extensions

[T/PhF] A parallel PhaseField ctest added
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/beam/bar_left_partitioned_cell_properties_cfg2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_cell_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_msh_cfg2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_msh_ele2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_msh_ele_g2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_msh_nod2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_node_properties_cfg2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_node_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_cell_properties_cfg2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_cell_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_cfg2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_ele2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_ele_g2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_nod2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_cell_properties_cfg2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_cell_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_msh_cfg2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_msh_ele2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_msh_ele_g2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_msh_nod2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_node_properties_cfg2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_node_properties_val2.bin
  Tests/Data/PhaseField/beam/expected_AT1_vd_tension_2core_ts_10_t_1_000000_0.vtu
  Tests/Data/PhaseField/beam/expected_AT1_vd_tension_2core_ts_10_t_1_000000_1.vtu
Due: git-diff-check

[A/IO/AsciiRaster] Print error msg when check fails.
  Applications/FileIO/AsciiRasterInterface.cpp
  Applications/Utils/MeshEdit/createLayeredMeshFromRasters.cpp
Due: git-diff-check, file-extensions

[GL/Raster] Throw exception if size of input data doesn't match.
  GeoLib/Raster.h
Due: git-diff-check

[GL/Raster] Impl. pixel access operator.
  GeoLib/Raster.h
Due: git-diff-check

[GL] Make RasterHeader and Raster final.
  GeoLib/Raster.h
Due: git-diff-check

[A/U] Tools for creating/modifying rasters.
  Applications/Utils/GeoTools/CMakeLists.txt
  Applications/Utils/GeoTools/addDataToRaster.cpp
  Applications/Utils/GeoTools/createRaster.cpp
Due: git-diff-check, file-extensions

[T] Ctest for createRaster tool.
  Applications/Utils/Tests.cmake
  Tests/Data/GeoTools/createRaster/10x10.asc
Due: git-diff-check

[T] Ctest for addDataToRaster tool.
  Applications/Utils/Tests.cmake
  Tests/Data/GeoTools/addDataToRaster/10x10_sinxsiny.asc
Due: git-diff-check

[T/GL] Unit tests for Raster constructor and access operator.
  Tests/GeoLib/TestRaster.cpp
Due: git-diff-check, file-extensions

Modification according to reviewer HS's comments
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview.md
Due: git-diff-check

Remove part related to TH2M
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview.md
Due: git-diff-check

Add "Overview of multiphase flow processes" documentation
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview.md
Due: git-diff-check

Changed title and introductory text.
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview.md
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
