Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

[MeL] Improve const correctness.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Elements/HexRule8.cpp
  MeshLib/Elements/HexRule8.h
  MeshLib/Elements/LineRule2.cpp
  MeshLib/Elements/LineRule2.h
  MeshLib/Elements/PointRule1.cpp
  MeshLib/Elements/PointRule1.h
  MeshLib/Elements/PrismRule6.cpp
  MeshLib/Elements/PrismRule6.h
  MeshLib/Elements/PyramidRule5.cpp
  MeshLib/Elements/PyramidRule5.h
  MeshLib/Elements/QuadRule4.cpp
  MeshLib/Elements/QuadRule4.h
  MeshLib/Elements/TemplateElement.h
  MeshLib/Elements/TetRule4.cpp
  MeshLib/Elements/TetRule4.h
  MeshLib/Elements/TriRule3.cpp
  MeshLib/Elements/TriRule3.h
  ProcessLib/BoundaryConditionAndSourceTerm/ConstraintDirichletBoundaryCondition.cpp
Due: git-diff-check, file-extensions

[MeL] Mv Element::_nodes to TemplateElement::_nodes.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Elements/TemplateElement-impl.h
  MeshLib/Elements/TemplateElement.h
  MeshLib/Mesh.cpp
Due: git-diff-check, file-extensions

[MeL/Elements] Mv Element::getNodes to TemplateElement.
  MeshLib/Elements/Element.h
Due: git-diff-check

[MeL/Elements] Mv Element::setNode to TemplateElement.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Elements/TemplateElement-impl.h
Due: git-diff-check, file-extensions

[MeL/Elements] Make getNodeIndex a free function.
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/SWMM/SWMMInterface.cpp
  Applications/FileIO/TetGenInterface.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/Metis.cpp
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
  MeshGeoToolsLib/BoundaryElementsOnSurface.cpp
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Elements/TemplateElement-impl.h
  MeshLib/Elements/TemplateElement.h
  MeshLib/Mesh.cpp
  MeshLib/MeshEditing/RemoveMeshComponents.cpp
  MeshLib/MeshGenerators/LayeredVolume.cpp
  MeshLib/MeshGenerators/MeshLayerMapper.cpp
  MeshLib/MeshGenerators/QuadraticMeshGenerator.cpp
  MeshLib/MeshGenerators/RasterToMesh.cpp
  MeshLib/MeshSearch/NodeSearch.cpp
  MeshLib/convertMeshToGeo.cpp
  NumLib/Function/Interpolation.h
  ProcessLib/LIE/Common/PostUtils.cpp
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/LocalDataInitializer.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/LocalDataInitializer.h
  Tests/MeshLib/TestBoundaryElementSearch.cpp
  Tests/MeshLib/TestMeshGenerator.cpp
  Tests/MeshLib/TestQuadraticMesh.cpp
Due: git-diff-check, file-extensions

[MeL/Elements] Clang format class Element.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
Due: git-diff-check, file-extensions

[MeL/Elements/TemplateElement] Cleanup getNode().
  MeshLib/Elements/Element.h
  MeshLib/Elements/TemplateElement-impl.h
  MeshLib/Elements/TemplateElement.h
Due: git-diff-check

[MeL/Elements] Subst. C-array with std::array.
  MeshLib/Elements/TemplateElement-impl.h
  MeshLib/Elements/TemplateElement.h
Due: git-diff-check

[MeL] Avoid const_cast.
  MeshLib/Mesh.cpp
Due: git-diff-check, file-extensions

[MeL/Elements] Mv Element::getNodeIndex to TemplateElement.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Elements/TemplateElement-impl.h
  MeshLib/Elements/TemplateElement.h
Due: git-diff-check, file-extensions

[MeL] Mv Element::getNode() to TemplateElement.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Elements/TemplateElement-impl.h
  MeshLib/Elements/TemplateElement.h
Due: git-diff-check, file-extensions

[PL/TH2M] Excavation. Enable domain deactivation.
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions

[PL/PhF] Implementation update. Constaints.
  Documentation/ProjectFile/prj/processes/process/PHASE_FIELD/phasefield_parameters/t_history_field.md
  Documentation/ProjectFile/prj/processes/process/PHASE_FIELD/phasefield_parameters/t_kinetic_coefficient.md
  Documentation/ProjectFile/prj/processes/process/PHASE_FIELD/t_irreversible_threshold.md
  ProcessLib/PhaseField/CreatePhaseFieldProcess.cpp
  ProcessLib/PhaseField/CreatePhaseFieldProcess.h
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/PhaseField/PhaseFieldFEM.h
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  ProcessLib/PhaseField/PhaseFieldProcess.h
  ProcessLib/PhaseField/PhaseFieldProcessData.h
Due: git-diff-check, file-extensions

[T/PhF] Add a AT2 iso tensile ctest.
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/bar.gml
  Tests/Data/PhaseField/beam/AT2_iso_tensile.prj
  Tests/Data/PhaseField/beam/bar.gml
  Tests/Data/PhaseField/beam/bar.vtu
  Tests/Data/PhaseField/beam/bar_left.vtu
  Tests/Data/PhaseField/beam/bar_right.vtu
  Tests/Data/PhaseField/beam/expected_AT2_iso_tension_ts_10_t_1_000000_0.vtu
  Tests/Data/PhaseField/beam3d_geometry_back.vtu
  Tests/Data/PhaseField/beam3d_geometry_bottom.vtu
  Tests/Data/PhaseField/beam3d_geometry_front.vtu
  Tests/Data/PhaseField/beam3d_geometry_left.vtu
  Tests/Data/PhaseField/beam3d_geometry_right.vtu
  Tests/Data/PhaseField/beam3d_geometry_top.vtu
  Tests/Data/PhaseField/expected_beam3_stag1pcsAT2_ts_10_t_1.000000.vtu
Due: git-diff-check

[PL/THM] Correct getSigma implementation.
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check

[PL/THM] Initialize local asm's after int points.
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions

[T/THM/A2] Update references adding restart data.
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_23_t_12960.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_24_t_12974.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_3_t_4320.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_42_t_20736.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_4_t_4334.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_54_t_61600.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_76_t_2764800.000000.vtu
Due: none

[PL/THM] Add epsilon to integration point writers.
  ProcessLib/ThermoHydroMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions

[T/THM/A2] Restart with heating test.
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/A2/A2_heating.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_0_t_2764800.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_124_t_31536000.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_1_t_2767547.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_tunnel_surface.vtu
Due: git-diff-check

[T/THM/BGRa] Relax local Newton tolerance.
  Tests/Data/ThermoHydroMechanics/BGRaCreepAndInitialStressAtIP_AREHS/arehs-salt-THM01_0.prj
Due: none

[PL] Fix typo in method name.
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  ProcessLib/Process.cpp
  ProcessLib/Process.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
Due: git-diff-check, file-extensions

[PL/SurfaceFlux] Make attributes const.
  ProcessLib/SurfaceFlux/SurfaceFluxLocalAssembler.h
Due: git-diff-check

[PL/Process] Narrow scope of variable.
  ProcessLib/Process.cpp
Due: git-diff-check, file-extensions

[PL/Process] Rm. unnecessary line break in docu.
  ProcessLib/Process.h
Due: git-diff-check

[MeL] Make class ElementStatus final.
  MeshLib/ElementStatus.h
Due: git-diff-check

[MeL/IO] HDF/XDMF: New multimesh output tests
  MeshLib/IO/XDMF/HdfWriter.cpp
  MeshLib/IO/XDMF/XdmfHdfWriter.cpp
  Tests/Data/EllipticPETSc/cube_1e3_np2.h5
  Tests/Data/EllipticPETSc/cube_1e3_np2.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/FunctionParameterTest_XDMF.prj
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_left_boundary.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_left_boundary_ts_0_t_0.000000.h5
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_left_boundary_ts_0_t_0.000000.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_left_boundary_ts_1_t_1.000000.h5
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_left_boundary_ts_1_t_1.000000.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_right_boundary.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_right_boundary_ts_0_t_0.000000.h5
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_right_boundary_ts_0_t_0.000000.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_right_boundary_ts_1_t_1.000000.h5
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/square_5x5_tris_32_right_boundary_ts_1_t_1.000000.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/FunctionParameterTest_XDMF.prj
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/square_5x5_tris_32.h5
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/square_5x5_tris_32.vtu
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/square_5x5_tris_32.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/square_5x5_tris_32_left_boundary.vtu
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/square_5x5_tris_32_left_boundary.xdmf
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/square_5x5_tris_32_right_boundary.vtu
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/square_5x5_tris_32_right_boundary.xdmf
Due: git-diff-check, file-extensions

[MeL/IO] HDF/XDMF: Writer is now able to write multiple meshes and timeseries
  MeshLib/IO/XDMF/HdfData.h
  MeshLib/IO/XDMF/HdfWriter.cpp
  MeshLib/IO/XDMF/HdfWriter.h
  MeshLib/IO/XDMF/XdmfData.h
  MeshLib/IO/XDMF/XdmfHdfData.h
  MeshLib/IO/XDMF/XdmfHdfWriter.cpp
  MeshLib/IO/XDMF/XdmfHdfWriter.h
  MeshLib/IO/XDMF/XdmfWriter.cpp
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/IO/XDMF/transformData.h
  MeshLib/IO/XDMF/writeXdmf.cpp
  MeshLib/IO/XDMF/writeXdmf.h
  MeshLib/IO/writeMeshToFile.cpp
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/SteadyStateDiffusion/Tests.cmake
Due: git-diff-check, file-extensions

[TM] Perform transpose to IP stress and strain for output.
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
Due: git-diff-check

[TM] Use the same function for eps_m and eps to set/get IP data
  ProcessLib/ThermoMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
Due: git-diff-check

[TM] Compute eps only if norm(u) is non-zero
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
Due: git-diff-check

[PL] Create ip-writer callback in ctor.
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/Output/IntegrationPointWriter.h
  ProcessLib/RichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions

[PL/RM] Update ip-writer for solid material vars.
  MaterialLib/SolidModels/MFront/MFront.cpp
  MaterialLib/SolidModels/MechanicsBase.h
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions

Use compile time known sizes for rotations.
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.cpp
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerFracture-impl.h
Due: git-diff-check, file-extensions

[T/TH2M] Slightly relax test tolerances.
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas.prj
Due: none

[Test/HT] Increased the tolerance pf the linear solver for H in 2D_ThermalConvection_constviscosityStaggeredScheme
  Tests/Data/Parabolic/HT/StaggeredCoupling/ConstViscosity/square_5500x5500_staggered_scheme.prj
Due: none

[PL/TH2M] Switch to constant solid volume fraction
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_gas_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_gas_ts_120_t_1000.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_gas_ts_1_t_5.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_gas_ts_20_t_100.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_gas_ts_420_t_4000.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_liquid_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_liquid_ts_120_t_1000.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_liquid_ts_1_t_5.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_liquid_ts_20_t_100.000000.vtu
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_liquid_ts_420_t_4000.000000.vtu
  Tests/Data/TH2M/HM/flow_fully_saturated.prj
  Tests/Data/TH2M/HM/flow_fully_saturated_gas.prj
  Tests/Data/TH2M/M/M_2d_neumann/result_TH2M_M_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/M/M_2d_neumann/result_TH2M_M_ts_2_t_2.000000.vtu
  Tests/Data/TH2M/T/T_1d_dirichlet/result_TH2M_T_dirichlet_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/T/T_1d_dirichlet/result_TH2M_T_dirichlet_ts_10_t_10.000000.vtu
  Tests/Data/TH2M/T/T_1d_dirichlet/result_TH2M_T_dirichlet_ts_20_t_200.000000.vtu
  Tests/Data/TH2M/T/T_1d_dirichlet/result_TH2M_T_dirichlet_ts_30_t_2000.000000.vtu
  Tests/Data/TH2M/T/T_1d_dirichlet/result_TH2M_T_dirichlet_ts_34_t_4000.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas.prj
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas_ts_120_t_1000.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas_ts_1_t_5.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas_ts_20_t_100.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas_ts_420_t_4000.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid.prj
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid_ts_120_t_1000.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid_ts_1_t_5.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid_ts_20_t_100.000000.vtu
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid_ts_420_t_4000.000000.vtu
  Tests/Data/TH2M/THM/slab/result_1d_dirichlet_slab_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/THM/slab/result_1d_dirichlet_slab_ts_5_t_100000.000000.vtu
  Tests/Data/TH2M/THM/sphere/result_point_heatsource_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/THM/sphere/result_point_heatsource_ts_5_t_100000.000000.vtu
Due: git-diff-check
