Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

TH2M ctests for HM/THM confined compression.
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

[cmake] Fix rpath for mfront / tfel on Ubuntu.
  .cmake-format.yaml
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[T/TH2M] HM flow-fully-saturated. Liquid and gas.
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/HM/flow_fully_saturated.prj
  Tests/Data/TH2M/HM/flow_fully_saturated_gas.prj
  Tests/Data/TH2M/HM/flow_fully_saturated_gas_ts_1_t_1.000000.vtu
  Tests/Data/TH2M/HM/flow_fully_saturated_gas_ts_2_t_2.000000.vtu
  Tests/Data/TH2M/HM/flow_fully_saturated_ts_1_t_1.000000.vtu
  Tests/Data/TH2M/HM/flow_fully_saturated_ts_2_t_2.000000.vtu
  Tests/Data/TH2M/HM/square_1x1.gml
  Tests/Data/TH2M/HM/square_1x1_quad8_1e2.vtu
Due: git-diff-check

[T/TH2M/HM] Use meshes instead of geometries.
  Tests/Data/TH2M/HM/flow_fully_saturated.prj
  Tests/Data/TH2M/HM/flow_fully_saturated_gas.prj
  Tests/Data/TH2M/HM/square_1x1.gml
  Tests/Data/TH2M/HM/square_1x1_quad8_1e2_bottom.vtu
  Tests/Data/TH2M/HM/square_1x1_quad8_1e2_left.vtu
  Tests/Data/TH2M/HM/square_1x1_quad8_1e2_right.vtu
  Tests/Data/TH2M/HM/square_1x1_quad8_1e2_top.vtu
Due: none

[web/CTest/M] added the description of the test with heterogeneous reference temperature
  web/content/docs/benchmarks/small-deformations/arehs-salt-T_elements.png
  web/content/docs/benchmarks/small-deformations/arehs_salt_dome_creep_hete_T_ref.md
  web/content/docs/benchmarks/small-deformations/arehs_saltdome_creep_S.png
  web/content/docs/benchmarks/small-deformations/arehs_saltdome_creep_u.png
  web/data/bib_other.yaml
Due: git-diff-check

[M] Changed the type of reference_temperature to Paramater
  ProcessLib/SmallDeformation/CreateSmallDeformationProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/SmallDeformation/SmallDeformationProcessData.h
Due: git-diff-check, file-extensions

[CTest/M] Changed the reference temperature to Parameter type
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  Tests/Data/Mechanics/Linear/MFront/cube_1e0_orthotropic_xyz.prj
  Tests/Data/Mechanics/Linear/MFront/cube_1e0_orthotropic_yzx.prj
  Tests/Data/Mechanics/Linear/MFront/cube_1e0_orthotropic_zxy.prj
  Tests/Data/Mechanics/Linear/MFront/cube_standard_elasticity_brick.prj
  Tests/Data/Mechanics/Linear/MFront/square_1e0_orthotropic_45xy_z.prj
  Tests/Data/Mechanics/Linear/MFront/square_1e0_orthotropic_xyz.prj
  Tests/Data/Mechanics/Linear/MFront/square_1e0_orthotropic_y-xz.prj
Due: git-diff-check

[M] Moved the settinf of the body force out side of the integration loop
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check

[ci] Added native Ubuntu job.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[web/benchmark] Added the missed {{< data-link >}} in one project file.
  web/content/docs/benchmarks/small-deformations/arehs_salt_dome_creep_hete_T_ref.md
Due: git-diff-check

[T/TH2M] Slightly relax tolerance for gas velocity
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas.prj
Due: none

[ci] Restore ctest-large functionality.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[MeL/VTK] Remove code for old VTK<=7.1 version.
  MeshLib/Vtk/VtkMeshNodalCoordinatesTemplate-impl.h
Due: git-diff-check

doxygen; Extract more docu. Sort ctors first.
  scripts/cmake/DocumentationSetup.cmake
Due: git-diff-check

[PL/SD] doc; Fix reference_temperature tag
  ProcessLib/SmallDeformation/CreateSmallDeformationProcess.cpp
Due: git-diff-check, file-extensions

doxygen; set new minimum for warnings.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

doxygen; Use svg output.
  scripts/cmake/DocumentationSetup.cmake
Due: git-diff-check

[NL] doc; Restore long lines.
  NumLib/Fem/Integration/IntegrationGaussLegendrePrism.h
  NumLib/Fem/Integration/IntegrationPoint.h
Due: git-diff-check

Disable Conan when not using lis or netcdf options.
  scripts/cmake/ConanSetup.cmake
Due: git-diff-check

[web] Docs for installing Qt via aqtinstall.
  web/content/docs/devguide/getting-started/prerequisites.md
Due: git-diff-check

Removed Conan Qt package.
  scripts/cmake/ConanSetup.cmake
Due: git-diff-check

Moved LIS dependency from Conan to ExternalProject.
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/DependenciesExternalProject.cmake
  scripts/cmake/Find.cmake
  web/content/docs/devguide/getting-started/prerequisites.md
  web/data/versions.json
Due: git-diff-check

[NL/ODESolver] EquationSystem: don't inherit from MatrixSpecificationProvider.
  NumLib/DOF/MatrixProviderUser.h
  NumLib/ODESolver/EquationSystem.h
Due: git-diff-check

[NL/DOF] Split MatrixProviderUser into ML/LinAlg/MatrixProvider and ML/LinAlg/VectorProvider.
  NumLib/DOF/GlobalMatrixProviders.h
  NumLib/DOF/MatrixProvider.h
  NumLib/DOF/SimpleMatrixVectorProvider.h
  NumLib/DOF/VectorProvider.h
  Tests/NumLib/TestExtrapolation.cpp
Due: git-diff-check, file-extensions

[CL] Use MPL to input amounts of ion exchanging species
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcIOData/ChemicalSystem.cpp
  ChemistryLib/PhreeqcIOData/ChemicalSystem.h
  ChemistryLib/PhreeqcIOData/CreateChemicalSystem.cpp
  ChemistryLib/PhreeqcIOData/CreateExchange.cpp
  ChemistryLib/PhreeqcIOData/CreateExchange.h
  ChemistryLib/PhreeqcIOData/Exchange.cpp
  ChemistryLib/PhreeqcIOData/Exchange.h
  Documentation/ProjectFile/prj/chemical_system/exchange/exchange_site/t_molality.md
  Documentation/ProjectFile/prj/chemical_system/exchangers/exchange_site/i_exchange_site.md
  Documentation/ProjectFile/prj/chemical_system/exchangers/exchange_site/t_ion_exchanging_species.md
  Documentation/ProjectFile/prj/chemical_system/exchangers/i_exchangers.md
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchange.prj
Due: git-diff-check, file-extensions

[GL] Don't include Surface in Raster.
  Applications/Utils/FileConverter/TecPlotTools.cpp
  GeoLib/Raster.h
Due: git-diff-check, file-extensions

[MeL/ElementStatus] Make protected members private.
  MeshLib/ElementStatus.h
Due: git-diff-check

[MeL/ElementStatus] Clang format.
  MeshLib/ElementStatus.h
Due: git-diff-check

[MeL] Make classes CoordinateSystem{Type} final.
  MeshLib/CoordinateSystem.h
Due: git-diff-check

[MeL] Clang format CoordinateSystem.h.
  MeshLib/CoordinateSystem.h
Due: git-diff-check

[MeL/MeshSearch] MeshElementGrid: Rm unused GEOObjects include.
  MeshLib/MeshSearch/MeshElementGrid.cpp
  MeshLib/MeshSearch/MeshElementGrid.h
Due: git-diff-check, file-extensions

[MeL/MeshQuality] Make classes final.
  MeshLib/MeshQuality/ElementSizeMetric.h
  MeshLib/MeshQuality/RadiusEdgeRatioMetric.h
  MeshLib/MeshQuality/SizeDifferenceMetric.h
Due: git-diff-check

[MeL/MQ] Replace class with public memb. by struct
  MeshLib/MeshQuality/AngleSkewMetric.h
  MeshLib/MeshQuality/EdgeRatioMetric.h
  MeshLib/MeshQuality/MeshValidation.h
  MeshLib/MeshQuality/RadiusEdgeRatioMetric.h
  MeshLib/MeshQuality/SizeDifferenceMetric.h
Due: git-diff-check

[MeL/MQ] Use inheriting constructors.
  MeshLib/MeshQuality/AngleSkewMetric.cpp
  MeshLib/MeshQuality/AngleSkewMetric.h
  MeshLib/MeshQuality/EdgeRatioMetric.cpp
  MeshLib/MeshQuality/EdgeRatioMetric.h
  MeshLib/MeshQuality/ElementSizeMetric.cpp
  MeshLib/MeshQuality/ElementSizeMetric.h
  MeshLib/MeshQuality/RadiusEdgeRatioMetric.cpp
  MeshLib/MeshQuality/RadiusEdgeRatioMetric.h
  MeshLib/MeshQuality/SizeDifferenceMetric.cpp
  MeshLib/MeshQuality/SizeDifferenceMetric.h
Due: git-diff-check, file-extensions

[MeL/MQ] Use default member intitialization.
  MeshLib/MeshQuality/ElementQualityMetric.cpp
  MeshLib/MeshQuality/ElementQualityMetric.h
Due: git-diff-check, file-extensions

[MeL/MQ] Remove unnecessary defaulted destructors.
  MeshLib/MeshQuality/EdgeRatioMetric.h
  MeshLib/MeshQuality/ElementSizeMetric.h
  MeshLib/MeshQuality/MeshValidation.h
  MeshLib/MeshQuality/RadiusEdgeRatioMetric.h
  MeshLib/MeshQuality/SizeDifferenceMetric.h
Due: git-diff-check

[MeL/MQ] Move static private member into cpp.
  MeshLib/MeshQuality/MeshValidation.cpp
  MeshLib/MeshQuality/MeshValidation.h
Due: git-diff-check, file-extensions

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
