Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

partmesh test for quadratic tetrahedron
  Applications/Utils/Tests.cmake
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicNotQuadTet.vtu
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet.mesh
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet.vtu
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet_partitioned_cell_properties_cfg2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet_partitioned_cell_properties_val2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet_partitioned_msh_cfg2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet_partitioned_msh_ele2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet_partitioned_msh_ele_g2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_tet/basicQuadTet_partitioned_msh_nod2.bin
Due: git-diff-check

partmesh test for quadratic hex
  Applications/Utils/Tests.cmake
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicNotQuadHex.vtu
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex.mesh
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex.vtu
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex_partitioned_cell_properties_cfg2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex_partitioned_cell_properties_val2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex_partitioned_msh_cfg2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex_partitioned_msh_ele2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex_partitioned_msh_ele_g2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_hex/basicQuadHex_partitioned_msh_nod2.bin
Due: git-diff-check

partmesh test for quadratic line
  Applications/Utils/Tests.cmake
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicNotQuadLine.vtu
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine.mesh
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine.vtu
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine_partitioned_cell_properties_cfg2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine_partitioned_cell_properties_val2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine_partitioned_msh_cfg2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine_partitioned_msh_ele2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine_partitioned_msh_ele_g2.bin
  Tests/Data/NodePartitionedMesh/QuadraticElements/Quad_line/basicQuadLine_partitioned_msh_nod2.bin
Due: git-diff-check

cleaning ctest file -> removing useless comments
  Applications/Utils/Tests.cmake
Due: git-diff-check

[MPL] enable fracture normal rotation with EmbeddedFracturePermeability
  Documentation/ProjectFile/properties/property/EmbeddedFracturePermeability/t_fracture_rotation_xy.md
  Documentation/ProjectFile/properties/property/EmbeddedFracturePermeability/t_fracture_rotation_yz.md
  Documentation/ProjectFile/properties/property/OrthotropicEmbeddedFracturePermeability/t_fracture_rotation_xy.md
  Documentation/ProjectFile/properties/property/OrthotropicEmbeddedFracturePermeability/t_fracture_rotation_yz.md
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateEmbeddedFracturePermeability.cpp
  MaterialLib/MPL/Properties/CreateEmbeddedFracturePermeability.h
  MaterialLib/MPL/Properties/EmbeddedFracturePermeability.cpp
  MaterialLib/MPL/Properties/EmbeddedFracturePermeability.h
  Tests/Data/HydroMechanics/EmbeddedFracturePermeability/cube.prj
  Tests/Data/HydroMechanics/EmbeddedFracturePermeability/square.prj
Due: git-diff-check, file-extensions

[cmake] Added option OGS_DEPENDENCY_VERSIONS to overwrite entries in versions.json
  scripts/cmake/Versions.cmake
Due: git-diff-check

[web] Added docs for OGS_DEPENDENCY_VERSIONS CMake option.
  scripts/cmake/Versions.cmake
  web/content/docs/devguide/advanced/configuration-options.md
Due: git-diff-check

[cmake] Added version info output for external dependencies.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[mpl] Add missing include.
  MaterialLib/MPL/Properties/CreateEmbeddedFracturePermeability.h
Due: git-diff-check

[mpl] Add missing forward declaration.
  MaterialLib/MPL/Properties/CreateEmbeddedFracturePermeability.h
Due: git-diff-check

[mpl] Fix forward declaration.
  MaterialLib/MPL/Properties/CreateEmbeddedFracturePermeability.h
Due: git-diff-check

[T/T2PF] Add media tag to prj files.
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: none

[Test/TH2_PP] Replaced the old thermal conductivity input with MPL
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: none

[PL/T2PF] Subst. gas viscosity using MPL.
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: git-diff-check, file-extensions

[PL/T2PF] Precompute often used factor.
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check

[PL/T2PF] MPL data: Fwd to and store in T2PFData.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.h
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcessData.h
Due: git-diff-check, file-extensions

[PL/T2PF] Subst. solid spec. heat capacity by MPL.
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPMaterialProperties.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPMaterialProperties.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPMaterialProperties.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: git-diff-check, file-extensions

[PL/T2PF] Substitute permeability by MPL::permeablitity.
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: git-diff-check, file-extensions

[PL/T2PF] Use MPL::porosity property.
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check

[TH2_PP] Replaced the old effective thermal conductivity with MPL
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check

[PL/T2PF] Subst. water spec. heat capacity by MPL.
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPMaterialProperties.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPMaterialProperties.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPMaterialProperties.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: git-diff-check, file-extensions

[PL/T2PF] Introduce / use ip_data abbreviations.
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check

[PL/T2PF] Remove old gas density input
  MaterialLib/TwoPhaseModels/CreateTwoPhaseFlowMaterialProperties.cpp
  MaterialLib/TwoPhaseModels/TwoPhaseFlowWithPPMaterialProperties.cpp
  MaterialLib/TwoPhaseModels/TwoPhaseFlowWithPPMaterialProperties.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: git-diff-check, file-extensions

[T/Data] Adapt project file to use partly MPL.
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
Due: none

[T/T2PF] Add gas density to prj files
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: none

[PL/T2PF] Subst. liquid viscosity using MPL.
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: git-diff-check, file-extensions

[T/T2PF] Add porosity tag to prj files.
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: none

[T/T2PF] Add MPL solid density to prj files.
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: none

[MPL|PL] Add gas_phase to checkMaterialSpatialProperties.
  MaterialLib/MPL/CheckMaterialSpatialDistributionMap.h
  ProcessLib/HT/CreateHTProcess.cpp
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
  ProcessLib/LiquidFlow/CreateLiquidFlowProcess.cpp
  ProcessLib/RichardsFlow/CreateRichardsFlowProcess.cpp
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.cpp
Due: git-diff-check, file-extensions

[PL/T2PF] Use MPL::Density for the solid density.
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcessData.h
Due: git-diff-check, file-extensions

[PL/T2PF] Use MPL::Density for water density.
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check

[PL/T2PF] Activate checkMPLProperties.
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
Due: git-diff-check, file-extensions

[PL/T2PF] Subst. dry air specific heat capacity by MPL
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
Due: git-diff-check, file-extensions

[web] Added note on file encodings in prj include files.
  web/content/docs/userguide/basics/project-file.md
Due: git-diff-check

[MeL] Bulk element mapping uses non-template points
  MeshLib/Elements/MapBulkElementPoint.cpp
  MeshLib/Elements/MapBulkElementPoint.h
Due: git-diff-check, file-extensions

[NL] Corrected a type alias
  NumLib/Fem/Integration/GaussLegendreIntegrationPolicy.h
Due: git-diff-check

[MeL] Removed param docu to avoid doxygen warnings
  MeshLib/Elements/MapBulkElementPoint.h
Due: git-diff-check

[T] Adapted and extended weighted point unit tests
  Tests/MathLib/TestWeightedPoint.cpp
Due: git-diff-check, file-extensions

[NL] Integration methods use non-template points
  NumLib/Fem/Integration/IntegrationGaussLegendrePrism.h
  NumLib/Fem/Integration/IntegrationGaussLegendrePyramid.h
  NumLib/Fem/Integration/IntegrationGaussLegendreRegular-impl.h
  NumLib/Fem/Integration/IntegrationGaussLegendreRegular.h
  NumLib/Fem/Integration/IntegrationGaussLegendreTet.h
  NumLib/Fem/Integration/IntegrationGaussLegendreTri.h
  NumLib/Fem/Integration/IntegrationPoint.h
Due: git-diff-check

[T] Added tests for the integration method registry
  Tests/NumLib/TestIntegrationMethodRegistry.cpp
Due: git-diff-check, file-extensions
