Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

[PL] Got rid of a Petsc special case
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Small cleanup and docu
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions

[PL] Renamed and documented d.o.f. tables
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Use a more descriptive method name
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions

[PL] Renamed solution vectors: x -> xs
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions

[PL] Made several functions static
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Renamed function, added docu
  ProcessLib/Output/AddProcessDataToMesh.cpp
  ProcessLib/Output/AddProcessDataToMesh.h
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions

[PL] Assume that number_of_dof_variables == process_variables.size()
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Renamed two methods
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions

[PL] No extra variable before return
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Swapped node and component loops
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Added const
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Renamed d.o.f. tables
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Renamed arguments s.t. function declaration matches definition
  ProcessLib/Output/AddProcessDataToMesh.h
Due: git-diff-check

[PL] Added check, put checks first and improved docu
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Renaming, related to submeshes
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions

[PL] Changed assertion to always-on check
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions

[PL] Fixed docu.
  ProcessLib/Output/Output.h
Due: git-diff-check

[PL] Use TMP for Stokes flow
  ProcessLib/StokesFlow/LocalDataInitializer.h
Due: git-diff-check

[PL] Mac compiler dislikes "lambda expression in an unevaluated operand"
  ProcessLib/Utils/LocalDataInitializer.h
  ProcessLib/Utils/LocalDataInitializerHM.h
Due: git-diff-check

[PL] Use TMP for BCs/STs
  ProcessLib/BoundaryConditionAndSourceTerm/Utils/LocalDataInitializer.h
Due: git-diff-check

[PL] Use TMP for SD
  ProcessLib/SmallDeformation/LocalDataInitializer.h
Due: git-diff-check

[MeL] Added list of all element types
  MeshLib/Elements/Elements.h
Due: git-diff-check

[PL] Refactored global dim vs. shp fct dim check
  ProcessLib/BoundaryConditionAndSourceTerm/Utils/LocalDataInitializer.h
  ProcessLib/Utils/LocalDataInitializer.h
  ProcessLib/Utils/LocalDataInitializerHM.h
Due: git-diff-check

[PL] Use TMP to determine which local assemblers to instantiate
  ProcessLib/Utils/LocalDataInitializer.h
Due: git-diff-check

[PL] Use TMP for HM
  ProcessLib/Utils/LocalDataInitializerHM.h
Due: git-diff-check

Utils to determine which elements to compile
  NumLib/Fem/FiniteElement/ElementTraitsLagrange.h
  ProcessLib/Utils/EnabledElements.h
Due: git-diff-check

[PL] Use TMP for LIEHM
  ProcessLib/LIE/HydroMechanics/LocalAssembler/LocalDataInitializer.h
Due: git-diff-check

[PL] Removed unused type alias
  ProcessLib/Utils/EnabledElements.h
Due: git-diff-check

Renamed and documented type alias
  MeshLib/Elements/Elements.h
  NumLib/Fem/FiniteElement/ElementTraitsLagrange.h
Due: git-diff-check

[PL] Use TMP for LIESD
  ProcessLib/LIE/SmallDeformation/LocalAssembler/LocalDataInitializer.h
Due: git-diff-check

[PL] Use TMP for HTBHE
  ProcessLib/HeatTransportBHE/LocalAssemblers/LocalDataInitializer.h
Due: git-diff-check

[PL] Renamed constants to lower case
  ProcessLib/Utils/EnabledElements.h
Due: git-diff-check

[PL] Use better names for type aliases
  ProcessLib/BoundaryConditionAndSourceTerm/Utils/LocalDataInitializer.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/LocalDataInitializer.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/LocalDataInitializer.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/LocalDataInitializer.h
  ProcessLib/SmallDeformation/LocalDataInitializer.h
  ProcessLib/StokesFlow/LocalDataInitializer.h
  ProcessLib/Utils/LocalDataInitializer.h
  ProcessLib/Utils/LocalDataInitializerHM.h
Due: git-diff-check

[PL] Renamed struct testing enabled mesh elements
  ProcessLib/BoundaryConditionAndSourceTerm/Utils/LocalDataInitializer.h
Due: git-diff-check

Revert "[BHE] Rotate the velocity instead of rotating dNdx in the advection term"
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE.h
Due: git-diff-check

Revert "[NumLib] Corrected the sizes of shape_matrix in computeShapeMatrices."
  NumLib/Fem/InitShapeMatrices.h
Due: git-diff-check

[ShapeMatrixPolicy] Removed the default value of the template argument of GlobalDim
  NumLib/Fem/ShapeMatrixPolicy.h
Due: git-diff-check

[ProcessLib/LIE/HM] Roll back to use dNdx in the global coordinate system
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerFracture-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerFracture.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/IntegrationPointDataFracture.h
Due: git-diff-check

[Test/LIE] Update result with velocity orientation correction
  Tests/Data/LIE/HydroMechanics/expected_TaskB_ts_4_t_18.000000.vtu
  Tests/Data/LIE/HydroMechanics/out_single_fracture_CZ_kf_const_ts_1306_t_10000.000000.vtu
  Tests/Data/LIE/HydroMechanics/out_single_fracture_CZ_kf_cubic_ts_1306_t_10000.000000.vtu
  Tests/Data/LIE/HydroMechanics/out_single_fracture_LE_kf_const_ts_1306_t_10000.000000.vtu
  Tests/Data/LIE/HydroMechanics/out_single_fracture_LE_kf_cubic_ts_1306_t_10000.000000.vtu
Due: none
