Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[T/HM] Slightly relax tolerances.
  ProcessLib/HydroMechanics/Tests.cmake
Due: git-diff-check

[CL] added setPorosityPostReaction template function
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[CL] pass medium by reference.
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, file-extensions

[CL] added setReactantVolumeFraction template function
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[CL] Enable chemically induced porosity change to equilibrium reactants
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[CL] use overloaded operator[] function.
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[T] added Ctest
  ProcessLib/ComponentTransport/Tests.cmake
Due: git-diff-check

[CL] changed name of setReactantVolumeFraction
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[T] add validation test
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_126_t_12600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_168_t_16800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_210_t_21000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_42_t_4200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_84_t_8400.000000.vtu
Due: none

add remark to doxygen comment
  Documentation/ProjectFile/prj/parameters/parameter/MeshElement/c_MeshElement.md
  Documentation/ProjectFile/prj/parameters/parameter/MeshNode/c_MeshNode.md
Due: git-diff-check

fix typo on homepage
  web/content/_index.md
Due: git-diff-check

[NL] Fix multi component eval. of convergence.
  NumLib/ODESolver/ConvergenceCriterionPerComponentDeltaX.cpp
  NumLib/ODESolver/ConvergenceCriterionPerComponentResidual.cpp
Due: git-diff-check, file-extensions

[web] Fix dead link in Geothermal Systems tutorial book.
  web/content/books/geoenergy-modeling-i.md
Due: git-diff-check

[PL/LiquidFlow] Access MPL properties with [] instead of property().
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
Due: git-diff-check

[web] Fixed styling issue in books/tutorials.
  web/archetypes/books.md
  web/content/books/bmb-2.md
  web/content/books/bmb-3.md
  web/content/books/bmb-4.md
  web/content/books/computational-geotechnics-i.md
  web/content/books/computational-hydrology-i-groundwater-flow-modeling.md
  web/content/books/computational-hydrology-ii.md
  web/content/books/computational-hydrology-iii.md
  web/content/books/geoenergy-modeling-i.md
  web/content/books/geoenergy-modeling-ii.md
  web/content/books/geoenergy-modeling-iii.md
  web/content/books/models-of-thermochemical-heat-storage.md
  web/layouts/books/single.html
Due: git-diff-check

[PL/RCT] remove some medium properties from RCT.
  ProcessLib/RichardsComponentTransport/CreatePorousMediaProperties.cpp
  ProcessLib/RichardsComponentTransport/CreatePorousMediaProperties.h
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
  ProcessLib/RichardsComponentTransport/PorousMediaProperties.cpp
  ProcessLib/RichardsComponentTransport/PorousMediaProperties.h
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcessData.h
Due: git-diff-check, file-extensions

[PL/RCT] check material properties.
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[PL/RCT] add fatal message.
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[PL/RCT] get material properties in local assembler.
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportFEM-impl.h
Due: git-diff-check

[T] relax absolute error.
  Tests/Data/Parabolic/RichardsComponentTransport/Padilla/Padilla_NaCl1/Padilla_NaCl1.prj
Due: none

[PL/RCT] invoke material properties.
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportFEM-impl.h
Due: git-diff-check

[Docu] remove unneeded parameter documentation.
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/porous_medium/porous_medium/t_permeability.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/porous_medium/porous_medium/t_porosity.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/porous_medium/porous_medium/t_relative_permeability.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/porous_medium/porous_medium/t_storage.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_decay_rate.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_fluid.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_fluid_reference_density.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_molecular_diffusion_coefficient.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_retardation_factor.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_solute_dispersivity_longitudinal.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_solute_dispersivity_transverse.md
Due: git-diff-check

[PL/RCT] create media map.
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[PL/RCT] store media_map in process_data.
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcessData.h
Due: git-diff-check, file-extensions

[PL/RCT] add screen message.
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[T] update benchmark input files.
  Tests/Data/Parabolic/RichardsComponentTransport/Padilla/Padilla_NaCl1/Padilla_NaCl1.prj
  Tests/Data/Parabolic/RichardsComponentTransport/Padilla/Padilla_NaCl1/Padilla_NaCl1_quadratic.prj
  Tests/Data/Parabolic/RichardsComponentTransport/Padilla/Padilla_NaCl6/Padilla_NaCl6.prj
Due: none

[PL/RCT] pass media.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.h
Due: git-diff-check, file-extensions

[PL/RCT] store transport process variable in LAData.
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportFEM-impl.h
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportFEM.h
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[utils] handle Atom Region Indicators in TS-files
  Applications/FileIO/GocadIO/GocadAsciiReader.cpp
Due: git-diff-check, file-extensions

[doc] Remove unnecessary TH2M process dimension.
  Applications/ApplicationsLib/ProjectData.cpp
  Documentation/ProjectFile/prj/processes/process/TH2M/t_dimension.md
Due: git-diff-check, file-extensions

[T] Added xml patch example.
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e0_neumann.xml
Due: none

[ci] Fixed workflow::paused and added label 'ci skip'.
  .gitlab-ci.yml
Due: git-diff-check

[T] Added base_file attribute to patch files.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[cpm] Added xmlpatch.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[T] Example usage of xmlpatch for elliptic square tests.
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e0.xml
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e1.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e1.xml
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e1_neumann.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2.xml
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2_neumann.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e3.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e3.xml
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e3_neumann.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4.xml
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4_neumann.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e5.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e5.xml
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e5_neumann.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e6.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e6.xml
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e6_neumann.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_neumann.xml
Due: git-diff-check

[T] Fix working dir for HeatTransportBHE_3D_3BHEs_array.
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
Due: none

[ogs] Implemented xml patch functionality.
  Applications/CLI/CMakeLists.txt
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[ogs] Adds support for multiple patch files.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[T] Fix multiple arguments to AddTest() EXECUTABLE_ARGS.
  scripts/cmake/test/AddTest.cmake
Due: git-diff-check

[ogs] Fix xml includes in combination with patches
  Applications/CLI/ogs.cpp
  BaseLib/ConfigTreeUtil.cpp
  BaseLib/ConfigTreeUtil.h
Due: git-diff-check, file-extensions

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
