Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[PL] Added HM prefix to test case names
  ProcessLib/HydroMechanics/Tests.cmake
Due: git-diff-check

[T] Moving and adding InjectionProduction Benchmark for python BC to respective directories
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1DMono_python.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1DMono_python_Neumann.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D_python.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/python_boundary.py
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/python_boundary_staggered.py
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/InjectionProduction1D.prj
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/InjectionProduction1DMono.prj
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/mesh_bottom.vtu
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/mesh_domain.vtu
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/mesh_injection.vtu
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/mesh_left.vtu
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/mesh_production.vtu
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/mesh_right.vtu
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/mesh_top.vtu
  Tests/Data/python-taylor-hood/InjectionProduction1D_python/ref/InjectionProduction1D_Mono_ts_1_t_86400.000000.vtu
Due: git-diff-check

[PL] Renamed a test case
  ProcessLib/HydroMechanics/Tests.cmake
Due: git-diff-check

[PL] Removed two comments
  ProcessLib/HydroMechanics/Tests.cmake
Due: git-diff-check

[T] Moving and adding IdealGas Benchmark for python BC to respective directories
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/IdealGas/flow_pressure_boundary/flow_pressure_boundary.prj
  Tests/Data/HydroMechanics/IdealGas/flow_pressure_boundary/flow_pressure_boundary.pvd
  Tests/Data/HydroMechanics/IdealGas/flow_pressure_boundary/flow_pressure_boundary_python.prj
  Tests/Data/HydroMechanics/IdealGas/flow_pressure_boundary/flow_pressure_boundary_ts_0_t_0.000000.vtu
  Tests/Data/HydroMechanics/IdealGas/flow_pressure_boundary/python_boundary.py
  Tests/Data/python-taylor-hood/flow_pressure_boundary_python/HM_flow_pressure_boundary.pdf
  Tests/Data/python-taylor-hood/flow_pressure_boundary_python/flow_pressure_boundary.prj
  Tests/Data/python-taylor-hood/flow_pressure_boundary_python/quad_1x10.gml
  Tests/Data/python-taylor-hood/flow_pressure_boundary_python/quad_1x10.vtu
Due: git-diff-check

[T] Bugfix InjectionProduction python benchmark
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1DMono_python.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D_python.prj
Due: git-diff-check

Release procedure 6.4.2.
  CHANGELOG.md
  Documentation/mainpage.dox.in
  README.md
  scripts/doc/_redirects
Due: git-diff-check

[web] Changelog 6.4.2.
  web/content/releases/6.4.2.md
Due: git-diff-check

Update 6.4.2.md
  web/content/releases/6.4.2.md
Due: git-diff-check

[ci] Use cpp-dependencies from PATH
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[cpm] Updated to 0.35.
  scripts/cmake/CPM.cmake
Due: git-diff-check

[web] Added missing changelog entry.
  web/content/releases/6.4.2.md
Due: git-diff-check

[T] Added python requirements to HM GroundEquilibrium benchmarks.
  ProcessLib/HydroMechanics/Tests.cmake
Due: git-diff-check

[T] Reformat tabs to spaces.
  ProcessLib/HydroMechanics/Tests.cmake
Due: git-diff-check

[T] Append ctest label python_modules. Exclude it on frontend ci job.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/build-linux-frontend.yml
  scripts/cmake/test/AddTest.cmake
Due: git-diff-check

[CL] store a reference to the mesh in the class.
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
Due: git-diff-check, file-extensions

[T] add 1D advection-diffusion-sorption-decay benchmark.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_ADSD.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_ADSD_left.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_ADSD_right.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay.prj
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay.pvd
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_1000_t_31536000000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_100_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_10_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_1_t_31536000000.000000.vtu
Due: git-diff-check

[PL/CT] perform chemical calculation over subdomain.
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[T] add a testcase.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_SmallDomain.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_sd_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_sd_ts_126_t_12600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_sd_ts_168_t_16800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_sd_ts_210_t_21000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_sd_ts_42_t_4200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_sd_ts_84_t_8400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_small_domain.prj
Due: git-diff-check

[Docu] add a new benchmark with jupyter notebook.
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/DiffusionSorptionDecay.ipynb
Due: none

[AppL] Use l-value refs
  Applications/ApplicationsLib/Simulation.cpp
  Applications/ApplicationsLib/Simulation.h
Due: git-diff-check, file-extensions

[AppL] Log which project file OGS uses
  Applications/ApplicationsLib/Simulation.cpp
Due: git-diff-check, file-extensions

[cmake] Removed CMakeGraphVizOptions.cmake.
  scripts/cmake/CMakeGraphVizOptions.in.cmake
  scripts/cmake/Find.cmake
Due: git-diff-check

[cmake] Bumped minimum to 3.16.
  CMakeLists.txt
  scripts/cmake/Functions.cmake
  scripts/cmake/UnityBuildSettings.cmake
  scripts/cmake/packaging/PackagingDependencies.cmake
  web/data/versions.json
Due: git-diff-check

[cmake] Use file(COPY_FILE) instead of configure_file().
  Applications/FileIO/CMakeLists.txt
  GeoLib/CMakeLists.txt
  scripts/cmake/ProjectSetup.cmake
Due: git-diff-check

[cmake] Removed unused PackagingMacros.cmake.
  scripts/cmake/packaging/Pack.cmake
  scripts/cmake/packaging/PackagingMacros.cmake
Due: git-diff-check

[cmake] Use list syntax of CXX_COMPILER_ID generator expression.
  MaterialLib/SolidModels/MFront/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
  scripts/cmake/Functions.cmake
Due: git-diff-check

[cmake] Removed unused target archive-data.
  scripts/cmake/packaging/ArchiveTestdata.cmake
  scripts/cmake/packaging/Pack.cmake
Due: git-diff-check

[cmake] Cleanup CompilerSetup.cmake.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[cmake] Added log formatting for Dependencies.cmake.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Removed unused macro ADD_GOOGLE_TESTS.
  Tests/CMakeLists.txt
  scripts/cmake/Functions.cmake
Due: git-diff-check

[cmake] Bumped minimum to 3.15.
  CMakeLists.txt
  web/data/versions.json
Due: git-diff-check

[cmake] Cleanup.
  scripts/cmake/ClangSanitizer.cmake
  scripts/cmake/DocumentationSetup.cmake
  scripts/cmake/Find.cmake
  scripts/cmake/MarkVariablesAdvanced.cmake
Due: git-diff-check

[T] Test output of VolumetricFlowRate in sub-meshes.
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_cube_1x1x1_hex_1e3_complete_surface_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_cube_1x1x1_hex_1e3_complete_surface_ts_1_t_0.432000.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_cube_1x1x1_hex_1e3_complete_surface_ts_2_t_0.864000.vtu
Due: git-diff-check

[PL/Output] Generalize copying bulk mesh node properties to sub mesh.
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions

[PL/Output] Tiny correction in comment.
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions

[PL/Output] Write 'VolumetricFlowRate' to sub meshes.
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions

add documentation for Component Transport Process
  web/content/docs/userguide/process-dependent-configuration/Hydro_Component.md
Due: git-diff-check

[ci] Run build docs on any envinf-machine.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[ci] Doxgyen: ignore perl: warnings.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
