Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[GL/PointVec] Constructor for convenience reasons.
  GeoLib/PointVec.cpp
  GeoLib/PointVec.h
Due: git-diff-check, file-extensions

[T/GL] Make points a local variable.
  Tests/GeoLib/TestCreatePolyline.cpp
Due: git-diff-check, file-extensions

[GL] Rm. GEOObjects::addPolylineVec using unique_ptr args.
  GeoLib/GEOObjects.cpp
  GeoLib/GEOObjects.h
Due: git-diff-check, file-extensions

[GL] TemplateVec: Avoid automated creation of functions.
  GeoLib/TemplateVec.h
Due: git-diff-check

Use addPointVec with map argument.
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  Applications/FileIO/Legacy/OGSIOVer4.cpp
  Applications/FileIO/Legacy/createSurface.cpp
  Applications/FileIO/PetrelInterface.cpp
  Applications/FileIO/SHPInterface.cpp
  Applications/FileIO/TetGenInterface.cpp
  Applications/Utils/FileConverter/ConvertSHPToGLI.cpp
  Applications/Utils/GeoTools/generateGeometry.cpp
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  GeoLib/DuplicateGeometry.cpp
  GeoLib/Grid.h
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.cpp
  GeoLib/PointVec.cpp
  GeoLib/PointVec.h
  GeoLib/TemplateVec.h
  MeshLib/convertMeshToGeo.cpp
  Tests/FileIO/TestGmlInterface.h
  Tests/GeoLib/CreateTestPoints.cpp
  Tests/GeoLib/TestComputeAndInsertAllIntersectionPoints.cpp
  Tests/GeoLib/TestDuplicateGeometry.cpp
  Tests/GeoLib/TestGEOObjectsMerge.cpp
  Tests/MeshGeoToolsLib/TestGeoMapper.cpp
  Tests/NumLib/LocalToGlobalIndexMapMultiComponent.cpp
Due: git-diff-check, file-extensions

[GL/IO/Xml/Qt] Improve deleteGeometry().
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.cpp
Due: git-diff-check, file-extensions

[GL] Clang format TemplateVec.
  GeoLib/TemplateVec.h
Due: git-diff-check

[GL] GEOObjects: Don't use initializer-list constructor.
  GeoLib/GEOObjects.cpp
Due: git-diff-check, file-extensions

Use new PointVec constructor without unique_ptr<vector>.
  Applications/DataExplorer/mainwindow.cpp
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.h
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/GMSInterface.cpp
  Applications/FileIO/GMSInterface.h
  Applications/FileIO/Gmsh/GMSHInterface.cpp
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  Applications/FileIO/Legacy/OGSIOVer4.cpp
  Applications/FileIO/Legacy/createSurface.cpp
  Applications/FileIO/PetrelInterface.cpp
  Applications/FileIO/SHPInterface.cpp
  Applications/FileIO/TetGenInterface.cpp
  Applications/Utils/FileConverter/ConvertSHPToGLI.cpp
  Applications/Utils/FileConverter/TIN2VTK.cpp
  Applications/Utils/GeoTools/generateGeometry.cpp
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  GeoLib/DuplicateGeometry.cpp
  GeoLib/GEOObjects.cpp
  GeoLib/Grid.h
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.h
  GeoLib/IO/XmlIO/Qt/XmlStnInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlStnInterface.h
  MeshLib/convertMeshToGeo.cpp
  Tests/FileIO/TestGmlInterface.h
  Tests/GeoLib/CreateTestPoints.cpp
  Tests/GeoLib/TestComputeAndInsertAllIntersectionPoints.cpp
  Tests/GeoLib/TestCreatePolyline.cpp
  Tests/GeoLib/TestDuplicateGeometry.cpp
  Tests/GeoLib/TestGEOObjectsMerge.cpp
  Tests/GeoLib/TestPointVec.cpp
  Tests/MeshGeoToolsLib/TestGeoMapper.cpp
  Tests/MeshLib/TestQuadraticMesh.cpp
  Tests/NumLib/LocalToGlobalIndexMapMultiComponent.cpp
Due: git-diff-check, file-extensions

[GL] Rm. GEOObjects::addSurfaceVec using unique_ptr args.
  GeoLib/GEOObjects.cpp
  GeoLib/GEOObjects.h
Due: git-diff-check, file-extensions

[GL/GEOObjects] Rm. obsolete version of addPointVec().
  GeoLib/GEOObjects.cpp
  GeoLib/GEOObjects.h
Due: git-diff-check, file-extensions

[GL] GEOObjects: Rm. methods using unique_ptr<vector<>>.
  GeoLib/GEOObjects.cpp
  GeoLib/GEOObjects.h
Due: git-diff-check, file-extensions

Use new GEOObjects::addSurfaceVec() without unique_ptr args.
  Applications/FileIO/Legacy/OGSIOVer4.cpp
  Applications/FileIO/TetGenInterface.cpp
  GeoLib/DuplicateGeometry.cpp
  GeoLib/DuplicateGeometry.h
  GeoLib/GEOObjects.cpp
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.h
  MeshLib/convertMeshToGeo.cpp
  Tests/FileIO/TestGmlInterface.h
  Tests/GeoLib/TestDuplicateGeometry.cpp
Due: git-diff-check, file-extensions

Rm. needless '{}' in std::vector<> construction.
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  Applications/FileIO/Legacy/OGSIOVer4.cpp
  Applications/FileIO/Legacy/createSurface.cpp
  Applications/FileIO/SHPInterface.cpp
  Applications/FileIO/SWMM/SWMMInterface.cpp
  Applications/FileIO/TetGenInterface.cpp
  Applications/Utils/FileConverter/ConvertSHPToGLI.cpp
  Applications/Utils/GeoTools/generateGeometry.cpp
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  GeoLib/GEOObjects.cpp
  GeoLib/Grid.h
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlStnInterface.cpp
  MeshLib/convertMeshToGeo.cpp
  Tests/FileIO/TestGmlInterface.h
  Tests/GeoLib/CreateTestPoints.cpp
  Tests/GeoLib/TestComputeAndInsertAllIntersectionPoints.cpp
  Tests/GeoLib/TestDuplicateGeometry.cpp
  Tests/GeoLib/TestGEOObjectsMerge.cpp
  Tests/GeoLib/TestPointVec.cpp
  Tests/MeshGeoToolsLib/TestGeoMapper.cpp
  Tests/MeshLib/TestQuadraticMesh.cpp
  Tests/NumLib/LocalToGlobalIndexMapMultiComponent.cpp
Due: git-diff-check, file-extensions

[GL] Move GEOObjects data members to the end of the private section.
  GeoLib/GEOObjects.h
Due: git-diff-check

[T/GL] Use new constructor.
  GeoLib/Grid.h
  Tests/GeoLib/TestDuplicateGeometry.cpp
  Tests/GeoLib/TestGEOObjectsMerge.cpp
  Tests/GeoLib/TestPointVec.cpp
Due: git-diff-check, file-extensions

[GL] PointVec/TemplateVec: Use std::map<>.
  GeoLib/PointVec.cpp
  GeoLib/TemplateVec.h
Due: git-diff-check, file-extensions

[GL] GEOObjects / PointVec: Clang format.
  GeoLib/GEOObjects.h
  GeoLib/PointVec.cpp
Due: git-diff-check, file-extensions

[NL] deriveBoundaryConstrainedMap returns unique_ptr
  NumLib/DOF/LocalToGlobalIndexMap.cpp
  NumLib/DOF/LocalToGlobalIndexMap.h
  ProcessLib/BoundaryConditionAndSourceTerm/ConstraintDirichletBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/CreateSourceTerm.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/DeactivatedSubdomainDirichlet.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/DirichletBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/DirichletBoundaryConditionWithinTimeInterval.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/GenericNaturalBoundaryCondition-impl.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition-impl.h
  ProcessLib/BoundaryConditionAndSourceTerm/PrimaryVariableConstraintDirichletBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/SolutionDependentDirichletBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/VariableDependentNeumannBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/VariableDependentNeumannBoundaryConditionLocalAssembler.h
  Tests/NumLib/LocalToGlobalIndexMap.cpp
  Tests/NumLib/LocalToGlobalIndexMapMultiComponent.cpp
Due: git-diff-check, file-extensions

[App/IO] Avoid taking reference from nullptr.
  Applications/FileIO/Legacy/OGSIOVer4.cpp
Due: git-diff-check, file-extensions

[GL] Raster; Avoid memory leak on throw.
  GeoLib/Raster.h
Due: git-diff-check

[App/U] Avoid memory leak in generateGeometry quad
  Applications/Utils/GeoTools/generateGeometry.cpp
Due: git-diff-check, file-extensions

[CL] Add PhreeqcIO destructor.
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
Due: git-diff-check, file-extensions

[T] black format python files
  Tests/Data/Parabolic/T/3D_3BHEs_array_SimX/bcs_tespy_and_serverCommunication.py
  Tests/Data/Parabolic/T/3D_Beier_sandbox_SimX/simulationX_test.py
Due: none

[PL] Codespell fixes.
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/ProcessOutputData.cpp
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
Due: git-diff-check, file-extensions

clang-format
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/TetGenInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  MeshLib/MeshEditing/AddLayerToMesh.cpp
  ProcessLib/HT/CreateHTProcess.cpp
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/PhaseField/CreatePhaseFieldProcess.cpp
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
  ProcessLib/RichardsMechanics/CreateRichardsMechanicsProcess.cpp
  ProcessLib/TES/TESProcess.cpp
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoMechanics/CreateThermoMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/CreateThermoRichardsMechanicsProcess.cpp
  Tests/GeoLib/TestGEOObjectsMerge.cpp
  Tests/MeshLib/TestVtkMappedMeshSource.cpp
  Tests/NumLib/TestODEInt.cpp
Due: git-diff-check, file-extensions

Update vtkdiff's copyright years
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[GL/TemplateVec] Code improvements.
  GeoLib/TemplateVec.h
Due: git-diff-check

add IntelLLVM compiler to compiler setup
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

TemplateVec::getVector(): Ret. ref. instead pointer.
  Applications/DataExplorer/DataView/GEOModels.cpp
  Applications/DataExplorer/DataView/GeoTreeModel.cpp
  Applications/FileIO/Legacy/OGSIOVer4.cpp
  Applications/FileIO/SHPInterface.cpp
  Applications/Utils/GeoTools/generateGeometry.cpp
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
  Applications/Utils/MeshGeoTools/computeSurfaceNodeIDsInPolygonalRegion.cpp
  GeoLib/GEOObjects.cpp
  GeoLib/IO/TINInterface.cpp
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.cpp
  GeoLib/Polyline.cpp
  GeoLib/TemplateVec.h
  MeshGeoToolsLib/AppendLinesAlongPolyline.cpp
  MeshGeoToolsLib/ConstructMeshesFromGeometries.cpp
  Tests/FileIO/TestGmlInterface.h
  Tests/GeoLib/TestGEOObjectsMerge.cpp
Due: git-diff-check, file-extensions

[GL] GEOObjects::renameGeometry(): use lambda for repeating code.
  GeoLib/GEOObjects.cpp
Due: git-diff-check, file-extensions

[GL] GEOObjects::appendSurfaceVec(): use std::find_if.
  GeoLib/GEOObjects.cpp
Due: git-diff-check, file-extensions

[A/U/ME] Modernize map insertion in CreateBoundaryConditionsAlongPolylines.
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
Due: git-diff-check, file-extensions

[BL] Implement cleanupVectorElements.
  BaseLib/Algorithm.h
Due: git-diff-check

[A/IO/FEFLOW] Avoid pointer; use 'const&' to pass var.
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.h
Due: git-diff-check, file-extensions

[A/IO/TetGenInterface] Use std::transform instead for-loop.
  Applications/FileIO/TetGenInterface.cpp
Due: git-diff-check, file-extensions

Use BaseLib::cleanupVectorElements().
  Applications/FileIO/TetGenInterface.cpp
  GeoLib/GEOObjects.cpp
  GeoLib/IO/XmlIO/Qt/XmlGmlInterface.cpp
Due: git-diff-check, file-extensions

[GL/GEOObjects] Use findVectorByName.
  GeoLib/GEOObjects.cpp
Due: git-diff-check, file-extensions

[A/IO/FEFLOW] Use const& instead of pointer.
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
Due: git-diff-check, file-extensions

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
