Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

[checkMesh] Fixed -p parameter (had no effect).
  Applications/Utils/MeshEdit/checkMesh.cpp
Due: git-diff-check, file-extensions

[NL] Removed further template params
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.h
  NumLib/Fem/FiniteElement/TemplateIsoparametric.h
Due: git-diff-check

[T] Adapted unit tests
  Tests/NumLib/TestCoordinatesMapping.cpp
Due: git-diff-check, file-extensions

[ci] Added numpy to leak_sanitizer.suppression list.
  scripts/test/leak_sanitizer.suppressions
Due: git-diff-check

[NL] Use shape fct dim and points
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.cpp
Due: git-diff-check, file-extensions

[NL] Removed mesh element template param
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.cpp
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.h
Due: git-diff-check, file-extensions

[NL] Simplified macros
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.cpp
Due: git-diff-check, file-extensions

[NL] Removed unneeded type alias
  NumLib/Fem/FiniteElement/TemplateIsoparametric.h
Due: git-diff-check

[ci] Added sciencedirect.com to urlchecker whitelist.
  scripts/ci/jobs/web.yml
Due: git-diff-check

[web] Use https for sciencedirect.com links.
  Documentation/bibliography/ogs.bib
  Documentation/bibliography/other.bib
  web/content/releases/6.1.0.md
  web/data/bib_ogs.yaml
  web/data/bib_other.yaml
Due: git-diff-check

[ci] Update web image.
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/web.yml
  scripts/docker/Dockerfile.web
  web/content/docs/benchmarks/python-bc/hertz-contact/hertz-contact/index.md
Due: git-diff-check

[ci] Format Dockerfile.web.
  scripts/docker/Dockerfile.web
Due: git-diff-check

[cmake] Use vtk wheels from pyvista on Python 3.10.
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/code-coverage.yml
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[python] Added missing matplotlib requirement.
  web/data/versions.json
Due: git-diff-check

[ci] Pin lizard analyzer to 1 thread.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[ci] Run ci_images job on all envinfs.
  scripts/ci/jobs/ci_images.yml
Due: git-diff-check

[web] Some more docs on dev container usage.
  web/content/docs/devguide/environments/docker/index.md
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check

[web] Typo in git instructions.
  web/content/docs/devguide/development-workflows/setup-fork/index.md
  web/content/docs/devguide/getting-started/get-the-source-code/index.md
Due: git-diff-check

[web] Simplified feature branch checkout instruction.
  web/content/docs/devguide/development-workflows/setup-fork/index.md
Due: git-diff-check

Revert "[cmake] Use file(COPY_FILE) instead of configure_file()."
  Applications/FileIO/CMakeLists.txt
  GeoLib/CMakeLists.txt
  scripts/cmake/ProjectSetup.cmake
Due: git-diff-check

[T/PL] Forward differences Jacobian. Copy from CD
  Tests/ProcessLib/TestJacobianAssembler.cpp
Due: git-diff-check, file-extensions

[doc] ForwardDifferences tag docu, same as for CD
  Documentation/ProjectFile/prj/processes/process/jacobian_assembler/ForwardDifferences/c_ForwardDifferences.md
  Documentation/ProjectFile/prj/processes/process/jacobian_assembler/ForwardDifferences/t_component_magnitudes.md
  Documentation/ProjectFile/prj/processes/process/jacobian_assembler/ForwardDifferences/t_relative_epsilons.md
Due: git-diff-check

[T/PL] Adjust testing tolerance for forward diff
  Tests/ProcessLib/TestJacobianAssembler.cpp
Due: git-diff-check, file-extensions

[T/PL] Extract randomVector() and randomReal()
  Tests/ProcessLib/TestJacobianAssembler.cpp
Due: git-diff-check, file-extensions

[PL] Forward differences Jacobian assembler
  ProcessLib/CreateForwardDifferencesJacobianAssembler.cpp
  ProcessLib/CreateForwardDifferencesJacobianAssembler.h
  ProcessLib/CreateJacobianAssembler.cpp
  ProcessLib/ForwardDifferencesJacobianAssembler.cpp
  ProcessLib/ForwardDifferencesJacobianAssembler.h
Due: git-diff-check, file-extensions

updating comparison result for vertical slice test
  Tests/Data/MeshGeoToolsLib/Ammer/AmmerSlice.vtu
Due: none

fixed function signature and clang format issue
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
Due: git-diff-check, file-extensions

changed mesh construction from bottom to top (and with that also fixing an issue occuring with outcroppings at the surface)
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
Due: git-diff-check, file-extensions

[BL] Move/rename setConsoleLogLevel to BaseLib::initOGSLogger().
  Applications/CLI/ogs.cpp
  BaseLib/Logging.cpp
  BaseLib/Logging.h
Due: git-diff-check, file-extensions

[A/CLI] First version of script testing the python interface.
  Applications/CLI/ogs_python_module.py
Due: git-diff-check

[cmake] Generate an OpenGeoSys python module.
  Applications/CLI/CMakeLists.txt
Due: git-diff-check

[A/CLI/ogs_python_module] Separate executeSimulation() from initOGS.
  Applications/CLI/ogs_python_module.cpp
Due: git-diff-check, file-extensions

[cmake] Use CMAKE_POSITION_INDEPENDENT_CODE also when OGS_USE_PYTHON.
  scripts/cmake/CMakeSetup.cmake
Due: git-diff-check

[A/CLI] Init. impl. of OGS python interface.
  Applications/CLI/ogs_python_module.cpp
Due: git-diff-check, file-extensions

[cmake] Check for mpi compiler.
  scripts/cmake/Find.cmake
Due: git-diff-check

[A/CLI] Test the python module (execute LiquidFlow benchmark via python).
  Applications/CLI/CMakeLists.txt
  Applications/CLI/ogs_python_module.py
Due: git-diff-check

Disable Python test on Windows Release.
  Applications/CLI/CMakeLists.txt
Due: git-diff-check

[ci] Use shared libs on code coverage job.
  scripts/ci/jobs/code-coverage.yml
Due: git-diff-check

[cmake] Bump minimum version to 3.22.
  Applications/CLI/CMakeLists.txt
  CMakeLists.txt
  web/content/docs/devguide/getting-started/build-configuration/index.md
  web/data/versions.json
Due: git-diff-check
