Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

[cmake] Fix Windows dependencies.
  scripts/cmake/Dependencies.cmake
  web/data/versions.json
Due: git-diff-check

[ci] Create 22.04 base image for Jupyter container.
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[ci] Enable cpmcache on Jupyter job.
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[T] Fixed RemoveGhostData-RemoveGhostData_Test.
  Tests/Data/MeshLib/Mesh3D-B.vtu
Due: none

[ci] Check header job ignores files which include vtk header.
  scripts/cmake/CheckHeaderCompilation.cmake
Due: git-diff-check

[cppcheck] Do not check cpm directories.
  scripts/cmake/CppCheck.cmake
  scripts/test/cppcheck.in.sh
Due: git-diff-check

[T] Replace conversion operator with normal method
  Tests/MathLib/Polynomials.h
  Tests/MathLib/TestGaussLegendreIntegration.cpp
Due: git-diff-check, file-extensions

[cmake] Make RemoveGhostData available on cli build.
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/Tests.cmake
  scripts/cmake/Dependencies.cmake
  web/data/versions.json
Due: git-diff-check

[ci] Run cppcheck job on envinf (not in docker).
  scripts/ci/jobs/code-quality.yml
Due: git-diff-check

[ci] Run check header job on envinf (not in docker).
  scripts/ci/jobs/check-header.yml
Due: git-diff-check

[ci] Disable Ubuntu job (temp).
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[MaL/Point3d] Subst. std::array by Eigen::Vector3d.
  MathLib/Point3d.cpp
  MathLib/Point3d.h
Due: git-diff-check, file-extensions

[MaL/Point3d] Add data() to make interface similar to Eigen::Vector3d.
  MathLib/Point3d.h
Due: git-diff-check

[MeL/PL] Use Point3d::data() instead of Point3d::getCoords().
  MeshLib/ElementCoordinatesMappingLocal.cpp
  MeshLib/convertMeshToGeo.cpp
  ProcessLib/DeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions

[PL/BCandST/Python] Use Point3d::op[] instead of getCoords().
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryCondition.cpp
Due: git-diff-check, file-extensions

[MaL/Point3d] Use std::lexicographical_compare for impl. of operator<.
  MathLib/Point3d.h
Due: git-diff-check

[GL] Use Point3d::data() instead of Point3d::getCoords().
  GeoLib/AnalyticalGeometry-impl.h
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/Grid.h
  GeoLib/MinimalBoundingSphere.cpp
  GeoLib/OctTree-impl.h
  GeoLib/Polyline.cpp
  GeoLib/Utils.cpp
Due: git-diff-check, file-extensions

[MaL/Point3d] Use array with appropriate #components to init.
  MathLib/Point3d.cpp
Due: git-diff-check, file-extensions

[MaL] Use new Point3d::data() interface function.
  MathLib/GeometricBasics.cpp
  MathLib/MathTools.cpp
Due: git-diff-check, file-extensions

[MeL/ME] Use Point3d::asEigenVector3d() in ProjectPointOnMesh.cpp.
  MeshLib/MeshEditing/ProjectPointOnMesh.cpp
Due: git-diff-check, file-extensions

[A/DE/VtkVis] Constify nPoints variable.
  Applications/DataExplorer/VtkVis/VtkSurfacesSource.cpp
Due: git-diff-check, file-extensions

[MeL/Elements] Use Point3d::asEigenVector3d() in FaceRule.cpp.
  MeshLib/Elements/FaceRule.cpp
Due: git-diff-check, file-extensions

[MaL] Remove Point3d::getCoords() / WeightedPoint::getCoords().
  MathLib/Point3d.h
  MathLib/WeightedPoint.h
Due: git-diff-check

[MaL/Point3d] Move sqrDist() to cpp file, use Eigen for impl.
  MathLib/Point3d.cpp
  MathLib/Point3d.h
Due: git-diff-check, file-extensions

Rename Point3d::getCoords() -> Point3d::data() and WeightedPoint::getCoords() -> WeightedPoint::data().
  Applications/DataExplorer/VtkVis/VtkPolylinesSource.cpp
  Applications/DataExplorer/VtkVis/VtkStationSource.cpp
  Applications/DataExplorer/VtkVis/VtkSurfacesSource.cpp
  Applications/FileIO/GocadIO/GocadAsciiReader.cpp
  Applications/FileIO/GocadIO/GocadSGridReader.cpp
  Applications/FileIO/TetGenInterface.cpp
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  MeshGeoToolsLib/GeoMapper.cpp
  MeshLib/Elements/CellRule.cpp
  MeshLib/Elements/FaceRule.cpp
  MeshLib/Elements/Utils.h
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/MeshEditing/DuplicateMeshComponents.cpp
  MeshLib/MeshEditing/ProjectPointOnMesh.cpp
  MeshLib/MeshGenerators/LayeredVolume.cpp
  MeshLib/Utils/GetSpaceDimension.cpp
  MeshLib/Utils/Is2DMeshOnRotatedVerticalPlane.cpp
  NumLib/Fem/InitShapeMatrices.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryConditionLocalAssembler.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  ProcessLib/LIE/Common/BranchProperty.h
  ProcessLib/LIE/Common/FractureProperty.h
  ProcessLib/LIE/Common/JunctionProperty.h
  ProcessLib/LIE/Common/PostUtils.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerFracture-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalFEM.h
  ProcessLib/SurfaceFlux/SurfaceFluxLocalAssembler.h
  Tests/MeshLib/ConvertToLinearMesh.cpp
  Tests/MeshLib/TestCoordinatesMappingLocal.cpp
  Tests/MeshLib/TestGetElementRotationMatrices.cpp
  Tests/MeshLib/TestMapBulkElementPoint.cpp
  Tests/NumLib/TestFunctionInterpolation.cpp
Due: git-diff-check, file-extensions

[A/DE/VtkVis] Use vector::empty() instead comparing size to zero.
  Applications/DataExplorer/VtkVis/VtkSurfacesSource.cpp
Due: git-diff-check, file-extensions

[PL/SurfaceFlux/SFLocAsm] Use Point3d::asEigenVector3d().
  ProcessLib/SurfaceFlux/SurfaceFluxLocalAssembler.h
Due: git-diff-check

[MaL] Add Point3d::asEigenVector3d() to omit convertings in user code.
  MathLib/Point3d.h
Due: git-diff-check

[MeL/MG] Use Point3d::asEigenVector3d() in LayeredVolume.cpp.
  MeshLib/MeshGenerators/LayeredVolume.cpp
Due: git-diff-check, file-extensions

[MeL/Elements] Use Point3d::asEigenVector3d() in CellRule.cpp.
  MeshLib/Elements/CellRule.cpp
Due: git-diff-check, file-extensions

[MeL/Elements] Use Point3d::asEigenVector3d() in Utils.h.
  MeshLib/Elements/Utils.h
Due: git-diff-check

[A/DE/VtkVis] Tiny modernizations.
  Applications/DataExplorer/VtkVis/VtkStationSource.cpp
  Applications/DataExplorer/VtkVis/VtkSurfacesSource.cpp
Due: git-diff-check, file-extensions

[MaL/Point3d] Use std::lexicographical_compare for impl. of lessEq().
  MathLib/Point3d.h
Due: git-diff-check

[PL] Use Point3d::asEigenVector3d().
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryConditionLocalAssembler.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
Due: git-diff-check

[GL] Use Point3d::asEigenVector3d().
  GeoLib/AnalyticalGeometry-impl.h
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/Grid.h
  GeoLib/MinimalBoundingSphere.cpp
  GeoLib/OctTree-impl.h
  GeoLib/Polyline.cpp
  GeoLib/Utils.cpp
Due: git-diff-check, file-extensions

[MaL] Mv lessEq() impl. to cpp-file.
  MathLib/Point3d.cpp
  MathLib/Point3d.h
Due: git-diff-check, file-extensions

[MGTL/GeoMapper] Use Point3d::asEigenVector3d().
  MeshGeoToolsLib/GeoMapper.cpp
Due: git-diff-check, file-extensions

[PL] Use Point3d::asEigenVector3d() instead of Eigen::Map.
  ProcessLib/DeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions

[GL/Grid] Subst. lambda by using Point3d::asEigenVecto3d().
  GeoLib/Grid.h
Due: git-diff-check

[MeL] Use Point3d::asEigenVector3d() instead of Eigen::Map.
  MeshLib/ElementCoordinatesMappingLocal.cpp
Due: git-diff-check, file-extensions
