Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

Fix build without XDMF.
  MeshLib/IO/writeMeshToFile.cpp
  ProcessLib/Output/ProcessOutput.cpp
Due: git-diff-check, file-extensions

<MPL> added several new MPL::VariableTypes and MPL::PropertyTypes
  MaterialLib/MPL/PropertyType.h
  MaterialLib/MPL/VariableType.cpp
  MaterialLib/MPL/VariableType.h
Due: git-diff-check, file-extensions

[cmake] Add TH2M to ProcessLib and Tests CMake.
  ProcessLib/TH2M/CMakeLists.txt
  Tests/CMakeLists.txt
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check

<TH2M/PTM> structure for phase transition model types
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionFull.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModels.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.cpp
Due: git-diff-check, file-extensions

<gtest/TH2M> unit test for TH2M::PhaseTransitionNone
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionNone.cpp
Due: git-diff-check, file-extensions

[PL/TH2M/PTM] const initialize members.
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.h
Due: git-diff-check, file-extensions

<TH2M/PTM> derived structs have been given their own headers
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionFull.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModels.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.h
Due: git-diff-check, file-extensions

<gtest/TH2M> unit test for TH2M::PhaseTransitionEvaporation
  Tests/MaterialLib/TestMPL.cpp
  Tests/MaterialLib/TestMPL.h
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionEvaporation.cpp
Due: git-diff-check, file-extensions

[web] Added hint on number of compilations per RAM.
  web/content/docs/devguide/getting-started/build.md
  web/content/docs/devguide/troubleshooting/build.md
Due: git-diff-check

[PL/RM] MP; Fix nomenclature for total porosity.
  ProcessLib/RichardsMechanics/ComputeMicroPorosity.h
Due: git-diff-check

[PL/RM] Extract swelling stress update.
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check

[PL/RM] Reuse swelling stress update in update 2nd
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check

[T/RM] Update after changed swelling stress output
  Tests/Data/RichardsMechanics/double_porosity_swelling.prj
  Tests/Data/RichardsMechanics/double_porosity_swelling_t_100000.000000.vtu
  Tests/Data/RichardsMechanics/double_porosity_swelling_t_50000.000000.vtu
Due: none

[ci] Enable xdmf in PETSc job.
  scripts/ci/jobs/build-linux-petsc.yml
Due: git-diff-check

[MeL/IO] Add xdmf/hdf5 testcase for 2 and 3 mpi processes
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/EllipticPETSc/Xdmf/cube_1e3.prj
  Tests/Data/EllipticPETSc/Xdmf/cube_1e3.xdmf
  Tests/Data/EllipticPETSc/cube_1e3.h5
  Tests/Data/EllipticPETSc/cube_1e3_np2.h5
  Tests/Data/EllipticPETSc/cube_1e3_np2.xdmf
  Tests/Data/EllipticPETSc/cube_1e3_np3.h5
  Tests/Data/EllipticPETSc/cube_1e3_np3.xdmf
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_cell_properties_cfg2.bin
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_cell_properties_val2.bin
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_msh_cfg2.bin
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_msh_ele2.bin
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_msh_ele_g2.bin
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_msh_nod2.bin
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_node_properties_cfg2.bin
  Tests/Data/EllipticPETSc/cube_1x1x1_hex_1e3_partitioned_node_properties_val2.bin
Due: git-diff-check

[App] Fix web link to construct meshes from geo.
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions

[PL/HM] Remove unnecessary include.
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: git-diff-check

[MeL/IO] Fix warning for unused function parameter
  MeshLib/IO/writeMeshToFile.cpp
Due: git-diff-check, file-extensions

[PL/HM] Directly call set IPdata functions.
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
Due: git-diff-check

[PL] Use algorithm for deactivated subd. creation.
  ProcessLib/CreateDeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions

[T/FileIO_Qt] Fix unused variable warnings.
  Tests/FileIO_Qt/TestVtkRaster.cpp
Due: git-diff-check, file-extensions

[PL/HM] Spelling fix in comment.
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: git-diff-check

change UTF-8 symbols in comments to ASCII text
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_incompressible_fluid.prj
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_isochoric_heat-up.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.183.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/square_ortho_phi0.183.prj
Due: none

add Saturation to EffectiveThermalConductivityPorosityMixing property
  MaterialLib/MPL/Properties/EffectiveThermalConductivityPorosityMixing.cpp
  Tests/MaterialLib/TestEffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions

delete implementation of dValue of EffectiveThermalConductivityPorosityMixing property (not used)
  MaterialLib/MPL/Properties/EffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions

[doc] Fix placement of ogs_file_XXX for doxygen.
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.cpp
  ProcessLib/CreateDeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions

[PL/HT] Complete check of read MPL properties.
  ProcessLib/HT/CreateHTProcess.cpp
Due: git-diff-check, file-extensions

[PL/HT] Clang format of MonolithicHTFEM.h
  ProcessLib/HT/MonolithicHTFEM.h
Due: git-diff-check

[de] Fixed vtk examples link.
  Applications/DataExplorer/VtkVis/VtkCustomInteractorStyle.cpp
Due: git-diff-check, file-extensions

[cmake] Added build presets.
  CMakePresets.json
Due: git-diff-check

[cmake] Added ctest presets.
  CMakePresets.json
Due: git-diff-check

[web] Docs for build and test presets.
  web/content/docs/devguide/getting-started/build-configuration.md
  web/content/docs/devguide/getting-started/build.md
  web/content/docs/devguide/testing/test-data.md
Due: git-diff-check

[eve] Bump CMake to 3.20.
  scripts/env/eve/cli.sh
Due: git-diff-check

[cmake] Exlcude TH2M tests if process is disabled.
  ProcessLib/TH2M/CMakeLists.txt
Due: git-diff-check

[PL/TH2M] New process based on ThermoHydroMechanics
  Applications/ApplicationsLib/ProjectData.cpp
  Documentation/ProjectFile/prj/processes/process/TH2M/c_TH2M.md
  Documentation/ProjectFile/prj/processes/process/TH2M/process_variables/i_process_variables.md
  Documentation/ProjectFile/prj/processes/process/TH2M/process_variables/t_capillary_pressure.md
  Documentation/ProjectFile/prj/processes/process/TH2M/process_variables/t_displacement.md
  Documentation/ProjectFile/prj/processes/process/TH2M/process_variables/t_gas_pressure.md
  Documentation/ProjectFile/prj/processes/process/TH2M/process_variables/t_temperature.md
  Documentation/ProjectFile/prj/processes/process/TH2M/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/TH2M/t_dimension.md
  Documentation/ProjectFile/prj/processes/process/TH2M/t_initial_stress.md
  Documentation/ProjectFile/prj/processes/process/TH2M/t_mass_lumping.md
  Documentation/ProjectFile/prj/processes/process/TH2M/t_reference_temperature.md
  Documentation/ProjectFile/prj/processes/process/TH2M/t_specific_body_force.md
  ProcessLib/TH2M/CMakeLists.txt
  ProcessLib/TH2M/CreateLocalAssemblers.h
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/CreateTH2MProcess.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/LocalDataInitializer.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.h
  ProcessLib/TH2M/TH2MProcessData.h
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check, file-extensions

<Tests/TH2M> Tests.cmake update
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

<Tests/TH2M> add radial symmetrical heat pipe test
  Tests/Data/TH2M/TH2/heatpipe_radial/boundary8_bottom.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/boundary8_left.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/boundary8_right.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/boundary8_top.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/disc.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/disc_quad8.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/disc_quad8_cr.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/domain.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/geo.gml
  Tests/Data/TH2M/TH2/heatpipe_radial/heatpipe_radial.prj
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial.pvd
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_10_t_1000000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_1_t_100000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_2_t_200000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_3_t_300000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_4_t_400000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_5_t_500000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_6_t_600000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_7_t_700000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_8_t_800000.000000.vtu
  Tests/Data/TH2M/TH2/heatpipe_radial/results_heatpipe_radial_ts_9_t_900000.000000.vtu
Due: none

<Tests/TH2M> add heatpipe in a slab test with static gas phase
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/boundary_left.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/boundary_right.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/column_quad8.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/domain.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/heatpipe_slab_static_gas.prj
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas.pvd
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_10_t_10000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_11_t_20000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_12_t_30000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_13_t_40000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_14_t_50000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_15_t_60000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_16_t_70000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_17_t_80000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_18_t_90000.000000.vtu
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/results_heatpipe_slab_static_gas_ts_19_t_100000.000000.vtu
Due: none
