Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

[T] re-enable the Padilla_NaCl1 test case.
  ProcessLib/RichardsComponentTransport/Tests.cmake
Due: git-diff-check

[T] relax absolute tolerance.
  Tests/Data/Parabolic/RichardsComponentTransport/Padilla/Padilla_NaCl1/Padilla_NaCl1.prj
Due: none

[MeL] Mv neighbor information from Node to Mesh.
  Applications/Utils/MeshEdit/queryMesh.cpp
  Applications/Utils/MeshGeoTools/IntegrateBoreholesIntoMesh.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  Applications/Utils/ModelPreparation/createNeumannBc.cpp
  MeshGeoToolsLib/GeoMapper.cpp
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
  MeshGeoToolsLib/MeshNodesOnPoint.cpp
  MeshLib/ElementStatus.cpp
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  MeshLib/MeshEditing/Mesh2MeshPropertyInterpolation.cpp
  MeshLib/MeshSearch/ElementSearch.cpp
  MeshLib/MeshSearch/NodeSearch.cpp
  MeshLib/MeshSurfaceExtraction.cpp
  MeshLib/Node.cpp
  MeshLib/Node.h
  MeshLib/NodePartitionedMesh.h
  NumLib/DOF/MeshComponentMap.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/DeactivatedSubdomainDirichlet.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/DeactivatedSubdomainDirichlet.h
  ProcessLib/CreateDeactivatedSubdomain.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/LIE/Common/MeshUtils.cpp
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  Tests/MeshLib/TestFindElementsWithinRadius.cpp
  Tests/MeshLib/TestLineMesh.cpp
  Tests/MeshLib/TestNodeAdjacencyTable.cpp
  Tests/MeshLib/TestQuadMesh.cpp
  Tests/MeshLib/TestQuadraticMesh.cpp
  Tests/MeshLib/TestTriLineMesh.cpp
Due: git-diff-check, file-extensions

[T/TRM] A2; Add HeatFlux to the comparisons.
  Tests/Data/ThermoRichardsMechanics/A2/A2.prj
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_23_t_12960.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_24_t_12974.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_3_t_4320.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_42_t_20736.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_4_t_4334.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_54_t_61600.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_76_t_2764800.000000.vtu
Due: none

[T/THM] Update A2 references.
  Tests/Data/ThermoHydroMechanics/A2/A2.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_0_t_2764800.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_124_t_31536000.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_1_t_2767547.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_23_t_12960.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_24_t_12974.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_3_t_4320.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_42_t_20736.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_4_t_4334.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_54_t_61600.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_76_t_2764800.000000.vtu
Due: none

[PL/THM/TRM] Add heat flux output.
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.h
Due: git-diff-check, file-extensions

[PL/HM] Rename tpl-arg for consistency w other pcs
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
Due: git-diff-check

[MeL/IO] Make readMeshFromFileSerial private.
  MeshLib/IO/readMeshFromFile.cpp
  MeshLib/IO/readMeshFromFile.h
Due: git-diff-check, file-extensions

[MeL] Remove unused getNumberOfGlobalBaseNodes().
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.h
  MeshLib/NodePartitionedMesh.h
Due: git-diff-check, file-extensions

[MGTL] clang-format some lambdas.
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
Due: git-diff-check, file-extensions

[A/U/ME] Add switch arg to tool.
  Applications/Utils/MeshEdit/ResetPropertiesInPolygonalRegion.cpp
  MeshGeoToolsLib/MeshEditing/ResetMeshElementProperty.h
Due: git-diff-check, file-extensions

[web] Document the new switch of the tool ResetPropertiesInPolygonalRegion.
  web/content/docs/tools/model-preparation/set-properties-in-polygonal-region/index.md
Due: git-diff-check

[A/U] Test for switch any_of in tool ResetPropertiesInPolygonalRegion.
  Applications/Utils/Tests.cmake
  Tests/Data/MeshGeoToolsLib/ResetPropertiesInPolygonalRegion/Cube-BackPolylinePropertyChange_all_element_nodes_inside.vtu
  Tests/Data/MeshGeoToolsLib/ResetPropertiesInPolygonalRegion/Cube-BackPolylinePropertyChange_at_least_one_element_node_inside.vtu
  Tests/Data/MeshGeoToolsLib/ResetPropertiesInPolygonalRegion/Cube.vtu
  Tests/Data/MeshGeoToolsLib/ResetPropertiesInPolygonalRegion/Polylines.gml
Due: git-diff-check

[MGTL/MeshEditing] Change for windows build.
  MeshGeoToolsLib/MeshEditing/ResetMeshElementProperty.h
Due: git-diff-check

[cmake] Fixed hdf5 mpi check when using CPM for hdf5.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[MaL/PETSc] Fix order of matrix options.
  MathLib/LinAlg/PETSc/PETScMatrix.cpp
Due: git-diff-check, file-extensions

[MatL/PETSc] Set default matrix type to 'aij'.
  MathLib/LinAlg/PETSc/PETScMatrix.cpp
Due: git-diff-check, file-extensions

add test using PETSc requiring mat_type seqaij for ILU
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.183_petsc.prj
Due: git-diff-check

[MatL/PETSc] Remove unnecessary commented code.
  MathLib/LinAlg/PETSc/PETScVector.cpp
Due: git-diff-check, file-extensions

[web] Added note on using a different compiler.
  web/content/docs/devguide/getting-started/build-configuration.md
Due: git-diff-check

[cpm] Update xdmf to fix CMake warnings.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

cmake-format
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[T/HeatConduction] Test for parallel heat conduction.
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_cell_properties_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_cell_properties_val2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_msh_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_msh_ele2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_msh_ele_g2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_msh_nod2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_node_properties_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/SourceTermDomain_partitioned_node_properties_val2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_cell_properties_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_cell_properties_val2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_msh_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_msh_ele2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_msh_ele_g2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_msh_nod2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_node_properties_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_left_partitioned_node_properties_val2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_cell_properties_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_cell_properties_val2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_msh_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_msh_ele2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_msh_ele_g2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_msh_nod2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_node_properties_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_geometry_right_partitioned_node_properties_val2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_source_term.prj
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_ts_0_t_0_000000_0.vtu
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_ts_0_t_0_000000_1.vtu
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_ts_500_t_39062500_000000_0.vtu
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_ts_500_t_39062500_000000_1.vtu
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_lines_1e2_partitioned_cell_properties_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_lines_1e2_partitioned_cell_properties_val2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_lines_1e2_partitioned_msh_cfg2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_lines_1e2_partitioned_msh_ele2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_lines_1e2_partitioned_msh_ele_g2.bin
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_lines_1e2_partitioned_msh_nod2.bin
Due: git-diff-check

[PL/HeatConduction] Finalize the global mats and vec. assembly.
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
Due: git-diff-check, file-extensions

[A/U/GeoTools] Remove Qt dependency from tools.
  Applications/Utils/GeoTools/CMakeLists.txt
Due: git-diff-check

[A/U/GeoTools] Substitute Qt dependent code by boost.
  Applications/Utils/GeoTools/MoveGeometry.cpp
  Applications/Utils/GeoTools/TriangulatePolyline.cpp
Due: git-diff-check, file-extensions

[MeshLib] Added a description of getElementRotationMatrices
  MeshLib/Utils/GetElementRotationMatrices.h
Due: git-diff-check

[NumLib] Added a default value of the template argument of ShapeMatrixPolicyType
  NumLib/Fem/ShapeMatrixPolicy.h
Due: git-diff-check

[NumLib] Added DimVectorType in EigenFixedShapeMatrixPolicy
  NumLib/Fem/ShapeMatrixPolicy.h
Due: git-diff-check

[UnitTest] Added a test for getElementRotationMatrices with mesh without inclined element
  Tests/MeshLib/TestGetElementRotationMatrices.cpp
Due: git-diff-check, file-extensions

[LiquidFlow] Considered the local assembly in inclined element
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
Due: git-diff-check

[UnitTest] Added a test for getElementRotationMatrices with 3D mesh
  Tests/MeshLib/TestGetElementRotationMatrices.cpp
Due: git-diff-check, file-extensions

[web/benchmark] Added a description about the newly added benchmarks for the simulation with inclined elements.
  web/content/docs/benchmarks/liquid-flow/flow_in_fracture.md
  web/content/docs/benchmarks/liquid-flow/inclined_1D_in_3D_sphere.png
  web/content/docs/benchmarks/liquid-flow/inclined_2D_in_3D.png
  web/content/docs/benchmarks/liquid-flow/inclined_2D_mesh.png
Due: git-diff-check

[LiquidFlow] Use explicit type for some matrix and vector definition.
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
Due: git-diff-check

[LiquidFlow] Added a member of element_rotation_matrices to LiquidFlowData
  ProcessLib/LiquidFlow/CreateLiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowData.h
Due: git-diff-check, file-extensions

[LiquidFlow/Ctest] Added a test about 1D elements in 3D space.
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/1Din3D/geometry_bottom_point.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/1Din3D/geometry_top_point.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/1Din3D/line_fractures_in_3D.prj
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/1Din3D/line_fractures_in_3D_ts_100_t_8640000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/1Din3D/sphere.gml
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/1Din3D/sphere.vtu
Due: git-diff-check

[LiquidFlow] Replaced dimension with space dimension in LiquidProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
Due: git-diff-check, file-extensions

[UnitTest] Added a test for getElementRotationMatrices with 2D mesh
  Tests/MeshLib/TestGetElementRotationMatrices.cpp
Due: git-diff-check, file-extensions

[MeshLib] Added a utility of getElementRotationMatrices
  MeshLib/Utils/GetElementRotationMatrices.cpp
  MeshLib/Utils/GetElementRotationMatrices.h
  MeshLib/Utils/GetSpaceDimension.cpp
  MeshLib/Utils/GetSpaceDimension.h
  MeshLib/Utils/SetMeshSpaceDimension.cpp
Due: git-diff-check, file-extensions

[Ctest/LiquidFlow] Added two benchmarks with inclined 2D mesh.
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/geometry_bottom.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/geometry_left.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/geometry_right.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/geometry_top.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/hydrostatic_flow_in_inclined_2D_plane.prj
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/hydrostatic_flow_in_inclined_2D_plane_ts_t_1.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/inclined_2D_mesh.vtu
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/plane_r.gml
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/transient_flow_in_inclined_2D_plane.prj
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/transient_flow_in_inclined_2D_plane_ts_t_864000.000000.vtu
Due: git-diff-check
