Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[T/HM] Use multiple meshes instead of geometry.
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches.prj
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_back.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_front.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_left.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_right.vtu
Due: none

[ParL] Remove unnecessary data member and typedef.
  ParameterLib/FunctionParameter.h
Due: git-diff-check

[MPL] clang-format; Sort includes.
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
Due: git-diff-check

[PL/TH2M] Move solid variables update.
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check

[PL/TH2M] Remove unused using type definition.
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check

[PL/TH2M] rm postNonLinearSolverConcreteProcess().
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.h
Due: git-diff-check, file-extensions

[PL/TH2M] Pass xdot to update constitutive vars.
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check

[PL/TH2M] Use dt=0 in initialization.
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check

Don't additionally link spdlog in every library.
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/DataExplorer/DataView/CMakeLists.txt
  Applications/DataExplorer/DataView/DiagramView/CMakeLists.txt
  Applications/DataExplorer/VtkVis/CMakeLists.txt
  Applications/DataHolderLib/CMakeLists.txt
  Applications/FileIO/CMakeLists.txt
  ChemistryLib/CMakeLists.txt
  GeoLib/CMakeLists.txt
  MaterialLib/CMakeLists.txt
  MaterialLib/SolidModels/CMakeLists.txt
  MaterialLib/SolidModels/MFront/CMakeLists.txt
  MathLib/CMakeLists.txt
  MeshGeoToolsLib/CMakeLists.txt
  MeshLib/CMakeLists.txt
  NumLib/CMakeLists.txt
  ParameterLib/CMakeLists.txt
  ProcessLib/BoundaryCondition/Python/CMakeLists.txt
  ProcessLib/CMakeLists.txt
  ProcessLib/SourceTerms/Python/CMakeLists.txt
Due: git-diff-check

[T/ComponentTransport] Use multiple meshes tag in prj file instead of geometry.
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d.prj
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_left.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_outlet.vtu
Due: none

[PL/U/LocalDataInitializer] Clang format.
  ProcessLib/Utils/LocalDataInitializer.h
Due: git-diff-check

[BL] Extend error messages for xml patches.
  BaseLib/ConfigTreeUtil.cpp
Due: git-diff-check, file-extensions

[NL/DOF] SimpleMatrixVectorProvider: Rm. unused attributes.
  NumLib/DOF/SimpleMatrixVectorProvider.cpp
  NumLib/DOF/SimpleMatrixVectorProvider.h
Due: git-diff-check, file-extensions

[NL/DOF] MatrixProvider: Rm unused public methods.
  NumLib/DOF/MatrixProviderUser.h
  NumLib/DOF/SimpleMatrixVectorProvider.cpp
  NumLib/DOF/SimpleMatrixVectorProvider.h
Due: git-diff-check, file-extensions

[NL/DOF] Rm. template switch for searching cache objects.
  NumLib/DOF/SimpleMatrixVectorProvider.cpp
  NumLib/DOF/SimpleMatrixVectorProvider.h
Due: git-diff-check, file-extensions

[NL/DOF] Rm. not longer needed transfer functions.
  NumLib/DOF/SimpleMatrixVectorProvider.cpp
Due: git-diff-check, file-extensions

Remove caching.
  NumLib/DOF/SimpleMatrixVectorProvider.cpp
Due: git-diff-check, file-extensions

[NL/DOF] Remove pair with deleted pointer from vector.
  NumLib/DOF/SimpleMatrixVectorProvider.cpp
Due: git-diff-check, file-extensions

[Web] Web documentation of the parallel-plate testcase.
  web/content/docs/benchmarks/stokes-flow/Fig1_SchematicDiagram.png
  web/content/docs/benchmarks/stokes-flow/Fig2_SimulationResults.png
  web/content/docs/benchmarks/stokes-flow/parallel-plate-flow.md
Due: git-diff-check

Fixing dead URL.
  MaterialLib/PhysicalConstant.h
Due: git-diff-check

[MaL/LIS] Include and function call fixes.
  MathLib/LinAlg/Lis/LisVector.cpp
  MathLib/LinAlg/Lis/LisVector.h
Due: git-diff-check, file-extensions

[MaL/LIS] CMake fix for USE_LIS define.
  MathLib/CMakeLists.txt
Due: git-diff-check

[MaL/LIS] Fix spdlog formatters in INFO messages.
  MathLib/LinAlg/Lis/LisLinearSolver.cpp
Due: git-diff-check, file-extensions

Require conan LIS version to be compiled w/ OpenMP.
  scripts/cmake/ConanSetup.cmake
Due: git-diff-check

add ThermoRichardsFlow process
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/ThermoRichardsFlow/CMakeLists.txt
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/IntegrationPointData.h
  ProcessLib/ThermoRichardsFlow/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcessData.h
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check, file-extensions

add simplified elasticity models for ThermoRichardsFlow process
  ProcessLib/ThermoRichardsFlow/CreateSimplifiedElasticityModel.cpp
  ProcessLib/ThermoRichardsFlow/CreateSimplifiedElasticityModel.h
  ProcessLib/ThermoRichardsFlow/HydrostaticElasticityModel.h
  ProcessLib/ThermoRichardsFlow/RigidElasticityModel.h
  ProcessLib/ThermoRichardsFlow/SimplifiedElasticityModel.h
  ProcessLib/ThermoRichardsFlow/UniaxialElasticityModel.h
  ProcessLib/ThermoRichardsFlow/UserDefinedElasticityModel.h
Due: git-diff-check, file-extensions

add required properties for simplified elasticity models and for vapor diffusion to MPL
  MaterialLib/MPL/PropertyType.h
Due: git-diff-check

add documentation for ThermoRichardsFlow
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/c_THERMO_RICHARDS_FLOW.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/process_variables/i_process_variables.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/process_variables/t_pressure.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/process_variables/t_temperature.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/t_mass_lumping.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/t_simplified_elasticity.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/t_specific_body_force.md
  Documentation/bibliography/other.bib
Due: git-diff-check

[GL/AABB] Clang format.
  GeoLib/AABB.h
Due: git-diff-check

[NL/ODESolver] Fix spelling.
  NumLib/ODESolver/TimeDiscretizedODESystem.cpp
Due: git-diff-check, file-extensions

[GL/Grid] Clang format.
  GeoLib/Grid.h
Due: git-diff-check

[GL/IO] Print a warning for a unnamed polyline in gml.
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.cpp
Due: git-diff-check, file-extensions

[GL/OctTree] Clang format.
  GeoLib/OctTree-impl.h
  GeoLib/OctTree.h
Due: git-diff-check

[ML] Preload mfront libraries on Linux.
  MaterialLib/SolidModels/MFront/CreateMFront.cpp
Due: git-diff-check, file-extensions

[GL] Make Grid and SurfaceGrid final.
  GeoLib/Grid.h
  GeoLib/SurfaceGrid.h
Due: git-diff-check

[GL/Grid] Access min / max point via interface methods.
  GeoLib/Grid.h
Due: git-diff-check

[A/DE/DataView] Use Eigen aligned allocator for stl container.
  Applications/DataExplorer/DataView/MeshElementRemovalDialog.cpp
Due: git-diff-check, file-extensions

[GL/Polyline] Add needed include MathTools.h.
  GeoLib/Polyline.cpp
Due: git-diff-check, file-extensions

[GL] Use Eigen::Vector3d instead of std::array.
  GeoLib/SurfaceGrid.cpp
Due: git-diff-check, file-extensions

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
