Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[MeL/IO] XDMF/HDF: output bugfix - first step was written multiple times
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions

[MeL/IO] XDMF: Use new xdmf writer
  MeshLib/IO/XDMF/MeshPropertyDataType.h
  MeshLib/IO/XDMF/Xdmf3Writer.cpp
  MeshLib/IO/XDMF/Xdmf3Writer.h
  MeshLib/IO/XDMF/XdmfData.cpp
  MeshLib/IO/XDMF/XdmfData.h
  MeshLib/IO/XDMF/XdmfHdfWriter.cpp
  MeshLib/IO/XDMF/XdmfHdfWriter.h
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/IO/writeMeshToFile.cpp
  MeshLib/MeshEnums.h
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions

[MeL/IO] Remove OGS_USE_XDMF
  MeshLib/CMakeLists.txt
  MeshLib/IO/writeMeshToFile.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  scripts/cmake/Dependencies.cmake
Due: git-diff-check, file-extensions

[MeL/IO] Fix naming based on code quality report
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/Output/ProcessOutput.cpp
  ProcessLib/Output/ProcessOutput.h
Due: git-diff-check, file-extensions

[cmake,ci] Removed all remaining occurences of OGS_USE_XDMF.
  CMakeLists.txt
  CMakePresets.json
  MeshLib/CMakeLists.txt
  ProcessLib/CMakeLists.txt
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/build-win.yml
  scripts/ci/jobs/code-quality.yml
  scripts/cmake/DocumentationSetup.cmake
Due: git-diff-check

[XDMF] applied clang-format
  BaseLib/cpp23.h
  MeshLib/IO/XDMF/MeshPropertyDataType.h
  MeshLib/IO/XDMF/XdmfData.cpp
  MeshLib/IO/XDMF/XdmfHdfWriter.cpp
  MeshLib/IO/XDMF/XdmfWriter.cpp
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/IO/XDMF/writeXdmf.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions

[THM/localAssembler] Replaced the hard coded solid density
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check

[THM/Ctest] Drop the reference temperature input
  Tests/Data/ThermoHydroMechanics/A2/A2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Beam_sealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Beam_unsealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_linear-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_quadratic-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Square_sealed_homogeneous/square_1e0.prj
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_incompressible_fluid.prj
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_isochoric_heat-up.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.0.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.183.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/square_ortho_phi0.0.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/square_ortho_phi0.183.prj
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.prj
Due: none

[Doc/THM] Removed the parameter documentation for reference_temperature
  Documentation/ProjectFile/prj/processes/process/THERMO_HYDRO_MECHANICS/t_reference_temperature.md
Due: git-diff-check

[THM] Removed the reference temperature
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcessData.h
Due: git-diff-check, file-extensions

[THM/Ctest] Use the exponential solid density model in one example
  Tests/Data/ThermoHydroMechanics/Linear/CylindricalCavity/CylindricalCavity.prj
Due: none

[cmake] Use Conan HDF5 when using NetCDF.
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

Updated cpp-dependencies config.
  config-cpp-dependencies.txt
Due: git-diff-check

[cmake] Added generated CMakeGraphVizOptions.cmake in build-dir.
  scripts/cmake/CMakeGraphVizOptions.in.cmake
  scripts/cmake/Find.cmake
Due: git-diff-check

[ci] Added lizard code complexity analyser to Doxygen-job.
  Documentation/mainpage.dox.in
  config-cpp-dependencies.txt
  scripts/ci/jobs/build-docs.yml
  scripts/cmake/DocumentationSetup.cmake
Due: git-diff-check

[ci] Lizard thresholds.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[doxygen] Added dependencies page.
  Documentation/Dependencies.dox
  Documentation/mainpage.dox.in
  scripts/cmake/DocumentationSetup.cmake
Due: git-diff-check

[ci] Dependencies with CMake and cpp-dependencies on Doxygen-job.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[ci] Lizard word cloud html as job artifact.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[cmake] Fix Linux gui job.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Fix build with system zlib.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

Formatted pre-commit-config.
  .pre-commit-config.yaml
Due: git-diff-check

[pre-commit] Added clang-format.
  .pre-commit-config.yaml
  scripts/ci/jobs/pre-commit.yml
  scripts/docker/Dockerfile.pre-commit
  web/content/docs/devguide/development-workflows/code-format.md
Due: git-diff-check

[cmake] Job pools now use number of physical cores.
  scripts/cmake/JobPools.cmake
Due: git-diff-check

[pre-commit] Run on changed files only.
  scripts/ci/jobs/pre-commit.yml
Due: git-diff-check

fix pre-commit checking.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, file-extensions

[cmake] Disable xdmf on Debug mode.
  CMakeLists.txt
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Fix xdmf/hdf5 dependency in MeshLib.
  MeshLib/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[THM] applied clang-format
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check

[cpm] Use local packages for spdlog tclap and nlohmann-json if found.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] xdmf is required when OGS_BUILD_TESTING=ON only.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[ci] Allow failure (yellow) on pre-commit job.
  scripts/ci/jobs/pre-commit.yml
Due: git-diff-check

[cmake] Added support for ccache on Windows, dropped clcache.
  CMakeLists.txt
  scripts/cmake/CLCacheSetup.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/Find.cmake
Due: git-diff-check

[web] Updated ccache instructions.
  web/content/docs/devguide/advanced/compiler-cache.md
Due: git-diff-check

Small bug fixes in the ModifiedCamClay report
  web/content/docs/benchmarks/small-deformations/ModifiedCamClay_report.pdf
Due: git-diff-check

[ci] Update pre-commit image.
  scripts/docker/Dockerfile.pre-commit
Due: git-diff-check

[pre-commit] Fix clang-format command in container.
  scripts/docker/Dockerfile.pre-commit
Due: git-diff-check

[docs] Fix links.
  MathLib/LinAlg/PETSc/PETScMatrix.h
  NumLib/ODESolver/NonlinearSolver.cpp
Due: git-diff-check, file-extensions

[web] Added note on installing clang-format for pre-commit check.
  web/content/docs/devguide/development-workflows/setup-fork.md
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
