Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[web] Documenting geometryToGmshGeo.
  web/content/docs/tools/meshing/gmsh-interface/index.md
  web/content/docs/tools/meshing/gmsh-interface/square_0.15_0.25x0.15_0.25.gml
  web/content/docs/tools/meshing/gmsh-interface/square_0.45_0.55x0.45_0.55.gml
  web/content/docs/tools/meshing/gmsh-interface/square_1x1.gml
  web/content/docs/tools/meshing/gmsh-interface/square_1x1.gml.png
  web/content/docs/tools/meshing/gmsh-interface/square_1x1_adaptive_point_density_0.005.png
  web/content/docs/tools/meshing/gmsh-interface/square_1x1_adaptive_point_density_0.05.png
  web/content/docs/tools/meshing/gmsh-interface/square_1x1_adaptive_point_density_0.5.png
  web/content/docs/tools/meshing/gmsh-interface/square_1x1_plus_subgeometries.png
  web/content/docs/tools/meshing/gmsh-interface/square_1x1_plus_subgeometries_adaptive_point_density_0.05.png
  web/content/docs/tools/meshing/gmsh-interface/square_1x1_plus_subgeometries_adaptive_point_density_0.5.png
Due: git-diff-check

[A/U/MGT] Test geo file creation for homogeneous meshing.
  Applications/Utils/Tests.cmake
  Tests/Data/MeshGeoToolsLib/geometryToGmshGeo/square_1x1_adaptive.geo
  Tests/Data/MeshGeoToolsLib/geometryToGmshGeo/square_1x1_homogeneous.geo
Due: git-diff-check

[FileIO] Info on shp-polygons consisting of multiple parts
  Applications/FileIO/SHPInterface.cpp
Due: git-diff-check, file-extensions

[MeL/IO] : Each XDMF Test has unique output file
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/EllipticPETSc/cube_1e3_XDMF_np2.prj
  Tests/Data/EllipticPETSc/cube_1e3_XDMF_np3.prj
Due: git-diff-check

[T] Relax tolerances in Parallel_2D_StaggeredScheme_...
  ProcessLib/ComponentTransport/Tests.cmake
Due: git-diff-check

[CL] Add missing <string> include.
  ChemistryLib/PhreeqcIOData/CreateOutput.h
Due: git-diff-check

[PL/TH2M] Introduce types for local matrix/vector.
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check

[T/TH2M] Remove unused MPL properties.
  Tests/Data/TH2M/M/M_2d_neumann/M_2d_neumann.prj
  Tests/Data/TH2M/T/T_1d_dirichlet/T_1d_dirichlet.prj
  Tests/Data/TH2M/TH2/heatpipe_radial/heatpipe_radial.prj
  Tests/Data/TH2M/TH2/heatpipe_slab/heatpipe_slab.prj
  Tests/Data/TH2M/THM/slab/THM_1d_dirichlet.prj
  Tests/Data/TH2M/THM/sphere/point_heatsource.prj
  Tests/Data/TH2M/TH_unsaturated/heatpipe_radial_static_gas/heatpipe_radial_static_gas.prj
  Tests/Data/TH2M/TH_unsaturated/heatpipe_slab_static_gas/heatpipe_slab_static_gas.prj
Due: none

[PL/TH2M] Remove unused variables.
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions

[PL/TH2M] Rename PhaseTransitionModel base class.
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionFull.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionFull.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModel.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.h
  ProcessLib/TH2M/TH2MProcessData.h
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionEvaporation.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionNone.cpp
Due: git-diff-check, file-extensions

[PL/TH2M/PTM] Pass variables to update function.
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionFull.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionFull.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModel.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.h
Due: git-diff-check, file-extensions

[PL/THM2] Extract constitutive variables.
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModel.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionNone.cpp
  ProcessLib/TH2M/TH2MFEM-impl.h
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionEvaporation.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionNone.cpp
Due: git-diff-check, file-extensions

Changed MCAS UBI versions to new TFEL syntax.
  MaterialLib/SolidModels/MFront/MohrCoulombAbboSloanUBI.mfront
  MaterialLib/SolidModels/MFront/MohrCoulombAbboSloanUBIOrtho.mfront
Due: git-diff-check

[HM/LocalAssembler] Pass C_el to getBulkModulus
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: git-diff-check

[HM/IntegrationPointData] Added a member of computeElasticTangentStiffness
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
Due: git-diff-check

rename point heat source project/geometry files
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/expected_pointheatsource_linear-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/expected_pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/expected_square_1e0_ts_10_t_1000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_linear-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_quadratic-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/quarter_circle_geometry.gml
Due: git-diff-check

[CL] New feature to enable exchange reactions
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcIOData/CreateExchange.cpp
  ChemistryLib/PhreeqcIOData/CreateExchange.h
  ChemistryLib/PhreeqcIOData/Exchange.cpp
  ChemistryLib/PhreeqcIOData/Exchange.h
Due: git-diff-check, file-extensions

[T/docs] Added test and documentation
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcIOData/CreateExchange.cpp
  ChemistryLib/PhreeqcIOData/CreateExchange.h
  ChemistryLib/PhreeqcIOData/Exchange.cpp
  ChemistryLib/PhreeqcIOData/Exchange.h
  Documentation/ProjectFile/prj/chemical_system/exchange/exchange_site/i_exchange_site.md
  Documentation/ProjectFile/prj/chemical_system/exchange/exchange_site/t_ion_exchanging_species.md
  Documentation/ProjectFile/prj/chemical_system/exchange/exchange_site/t_molality.md
  Documentation/ProjectFile/prj/chemical_system/exchange/i_exchange.md
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/ReactiveDomain_exchange.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchange.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchange.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchangeOutput_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchangeOutput_ts_100_t_18000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchangeOutput_ts_200_t_36000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchangeOutput_ts_300_t_54000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchangeOutput_ts_400_t_72000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchange_downstream.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/exchange_upstream.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CationExchange/phreeqc.dat
  web/content/docs/benchmarks/reactive-transport/exchange/exchange.md
  web/content/docs/benchmarks/reactive-transport/exchange/fig1.png
  web/content/docs/benchmarks/reactive-transport/exchange/fig2.png
Due: git-diff-check, file-extensions

rename HeatConduction -> ThermalConductivity
  Documentation/ProjectFile/properties/property/SaturationDependentHeatConduction/c_SaturationDependentHeatConduction.md
  Documentation/ProjectFile/properties/property/SaturationDependentHeatConduction/t_dry.md
  Documentation/ProjectFile/properties/property/SaturationDependentHeatConduction/t_wet.md
  Documentation/ProjectFile/properties/property/SaturationDependentThermalConductivity/c_SaturationDependentThermalConductivity.md
  Documentation/ProjectFile/properties/property/SaturationDependentThermalConductivity/t_dry.md
  Documentation/ProjectFile/properties/property/SaturationDependentThermalConductivity/t_wet.md
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateSaturationDependentThermalConductivity.cpp
  MaterialLib/MPL/Properties/CreateSaturationDependentThermalConductivity.h
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/Properties/SaturationDependentThermalConductivity.cpp
  MaterialLib/MPL/Properties/SaturationDependentThermalConductivity.h
  Tests/MaterialLib/TestSaturationDependentThermalConductivity.cpp
Due: git-diff-check, file-extensions

[GL] Remove unnecessary set function used once.
  GeoLib/SimplePolygonTree.cpp
  GeoLib/SimplePolygonTree.h
Due: git-diff-check, file-extensions

[GL] Make class members private.
  GeoLib/SimplePolygonTree.h
Due: git-diff-check

[A/IO/Gmsh] Constify methods of GMSHPolygonTree.
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
Due: git-diff-check, file-extensions

[App/IO] Remove unnecessary if-condition.
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
Due: git-diff-check, file-extensions

[GL] Add SimplePolygonTree::isRoot query.
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  GeoLib/SimplePolygonTree.cpp
  GeoLib/SimplePolygonTree.h
Due: git-diff-check, file-extensions

[GL] Add parent node access.
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  GeoLib/SimplePolygonTree.cpp
  GeoLib/SimplePolygonTree.h
Due: git-diff-check, file-extensions

[GL] Unify tree's polygon access.
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  GeoLib/SimplePolygonTree.cpp
  GeoLib/SimplePolygonTree.h
Due: git-diff-check, file-extensions

[GL] Use for-range loops. Add iterator IF.
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  GeoLib/SimplePolygonTree.cpp
  GeoLib/SimplePolygonTree.h
Due: git-diff-check, file-extensions

[Docu] add parameter documentation.
  Documentation/ProjectFile/prj/processes/process/StokesFlow/c_StokesFlow.md
  Documentation/ProjectFile/prj/processes/process/StokesFlow/process_variables/i_process_variables.md
  Documentation/ProjectFile/prj/processes/process/StokesFlow/process_variables/t_liquid_velocity.md
  Documentation/ProjectFile/prj/processes/process/StokesFlow/process_variables/t_pressure.md
  Documentation/ProjectFile/prj/processes/process/StokesFlow/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/StokesFlow/t_specific_body_force.md
Due: git-diff-check

[T] add parallel plate test case.
  ProcessLib/StokesFlow/Tests.cmake
  Tests/Data/StokesFlow/ParallelPlate.prj
  Tests/Data/StokesFlow/ParallelPlate.vtu
  Tests/Data/StokesFlow/ParallelPlateWithBodyForce.prj
  Tests/Data/StokesFlow/ParallelPlateWithBodyForce_ts_2_t_2.000000.vtu
  Tests/Data/StokesFlow/ParallelPlate_bottom.vtu
  Tests/Data/StokesFlow/ParallelPlate_left.vtu
  Tests/Data/StokesFlow/ParallelPlate_right.vtu
  Tests/Data/StokesFlow/ParallelPlate_top.vtu
  Tests/Data/StokesFlow/ParallelPlate_ts_2_t_2.000000.vtu
Due: git-diff-check

[PL/Stokes] create Stokes flow process.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/StokesFlow/CreateStokesFlowProcess.cpp
  ProcessLib/StokesFlow/CreateStokesFlowProcess.h
Due: git-diff-check, file-extensions

[CMake] include a Stokes process module.
  ProcessLib/StokesFlow/CMakeLists.txt
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check

[PL/Stokes] add process data.
  ProcessLib/StokesFlow/StokesFlowProcessData.h
Due: git-diff-check

[PL/Stokes] add integration point data.
  ProcessLib/StokesFlow/IntegrationPointData.h
Due: git-diff-check

[PL/Stokes] add process member functions.
  ProcessLib/StokesFlow/StokesFlowProcess.cpp
  ProcessLib/StokesFlow/StokesFlowProcess.h
Due: git-diff-check, file-extensions

[PL/Stokes] add local assembler interface.
  ProcessLib/StokesFlow/LocalAssemblerInterface.h
Due: git-diff-check

[PL/Stokes] add local assembler.
  ProcessLib/StokesFlow/CreateLocalAssemblers.h
  ProcessLib/StokesFlow/LocalDataInitializer.h
  ProcessLib/StokesFlow/StokesFlowFEM.h
Due: git-diff-check

[PL] Rename deactivated subdomain's function.
  ProcessLib/DeactivatedSubdomain.cpp
  ProcessLib/DeactivatedSubdomain.h
  ProcessLib/ProcessVariable.cpp
Due: git-diff-check, file-extensions

[PL] Rewrite update of deactivated subdomains.
  ProcessLib/ProcessVariable.cpp
Due: git-diff-check, file-extensions

[PL/PV] DS; Readd special case for all active elements.
  ProcessLib/ProcessVariable.cpp
Due: git-diff-check, file-extensions

[T/HM] Excavation niches.
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches.gml
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches.prj
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_0_t_0.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_10_t_10000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_11_t_11000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_1_t_1000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_2_t_2000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_3_t_3000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_4_t_4000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_5_t_5000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_6_t_6000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_7_t_7000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_8_t_8000.000000.vtu
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches_ts_9_t_9000.000000.vtu
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
