Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

[PL/TRM] Add liquid density and viscosity output
  ProcessLib/ThermoRichardsMechanics/IntegrationPointData.h
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcessData.h
Due: git-diff-check, file-extensions

[T/TRM] A2; Add liquid_density and viscosity test
  Tests/Data/ThermoRichardsMechanics/A2/A2.prj
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_23_t_12960.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_24_t_12974.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_3_t_4320.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_42_t_20736.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_4_t_4334.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_54_t_61600.000000.vtu
  Tests/Data/ThermoRichardsMechanics/A2/A2_ts_76_t_2764800.000000.vtu
Due: none

[CL] random fixups.
  ChemistryLib/PhreeqcIOData/ChemicalSystem.cpp
Due: git-diff-check, file-extensions

[PL/CT] fixup!!! support PETSc nonlinear solver.
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIOData/AqueousSolution.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[T] add a simple test.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_0_t_0_000000_0.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_126_t_12600_000000_0.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_168_t_16800_000000_0.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_210_t_21000_000000_0.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_42_t_4200_000000_0.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange_ts_84_t_8400_000000_0.vtu
Due: git-diff-check

[TRM] Implemented water vaporization terms
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

[A/CLI] Mv vtkMPIController decl. out of large block.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI] Separate declaration / definition of class CommandLineArgumentParser.
  Applications/CLI/CMakeLists.txt
  Applications/CLI/CommandLineArgumentParser.cpp
  Applications/CLI/CommandLineArgumentParser.h
Due: git-diff-check, file-extensions

[A/CLI] CommandLineArgumentParser: New CLI args.
  Applications/CLI/CommandLineArgumentParser.cpp
  Applications/CLI/CommandLineArgumentParser.h
Due: git-diff-check, file-extensions

[A/CLI/ogs.cpp] Get optional test definition from simulation.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/AppLib] Fwd. CLI args to Simulation::initializeDataStructures().
  Applications/ApplicationsLib/Simulation.cpp
  Applications/ApplicationsLib/Simulation.h
Due: git-diff-check, file-extensions

[A/AppLib] Separate Simulation impl. from declaration.
  Applications/ApplicationsLib/Simulation.cpp
  Applications/ApplicationsLib/Simulation.h
Due: git-diff-check, file-extensions

[A/CLI] Move code for CLI parsing into own class in separate file.
  Applications/CLI/CommandLineArgumentParser.h
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI] Mv ProjectData decl. out of large block.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI] Mv code from closed scopes to methods of class Simulation.
  Applications/ApplicationsLib/Simulation.h
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI] Fwd. CLI args to Simulation::initializeDataStructures().
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI] Rename ogs to simulation.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI/ogs.cpp] Cleanup header files.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI] Split large scope in several blocks.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/CLI] Extract command line parsing from main() to struct CommandLineArguments.
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions

[A/ApplicationsLib/Simulation] Make test definition an optional.
  Applications/ApplicationsLib/Simulation.h
Due: git-diff-check

[Test/T] Updated some reference files due to the change of the heat flux output
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat_ts_405_t_31640625.000000.vtu
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat_ts_500_t_39062500.000000.vtu
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat_ts_65_t_5078125.000000.vtu
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/line_1_line_1e2_ts_500_t_39062500.000000_reference.vtu
  Tests/Data/Parabolic/T/1D_line_source_term_tests/moving_source_term_t_15.000000.vtu
  Tests/Data/Parabolic/T/1D_line_source_term_tests/moving_source_term_t_30.000000.vtu
  Tests/Data/Parabolic/T/1D_line_source_term_tests/moving_source_term_t_60.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping_ts_1_t_78125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping_ts_3_t_234375.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping_ts_405_t_31640625.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping_ts_500_t_39062500.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping_ts_65_t_5078125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_1_t_78125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_3_t_234375.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_405_t_31640625.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_500_t_39062500.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_65_t_5078125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping_ts_1_t_78125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping_ts_3_t_234375.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping_ts_405_t_31640625.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping_ts_500_t_39062500.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping_ts_65_t_5078125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_1_t_78125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_3_t_234375.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_405_t_31640625.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_500_t_39062500.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_65_t_5078125.000000.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02_t_2s_extracted_surface.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left_r_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/source_term_middle_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/source_term_middle_restricted_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/3D_line_source_term_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/3D_line_source_term_restricted_ts_1_t_1.000000.vtu
Due: none

[T] Removed computeSecondaryVariableConcrete
  ProcessLib/HeatConduction/HeatConductionFEM.h
Due: git-diff-check

[Test/T] Use new name of heat flux
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat.prj
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_source_term.prj
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/line_1_line_1e2_source_term.prj
  Tests/Data/Parabolic/T/1D_line_source_term_tests/line_source_term.prj
  Tests/Data/Parabolic/T/1D_line_source_term_tests/moving_source_term.prj
  Tests/Data/Parabolic/T/1D_neumann/newton.prj
  Tests/Data/Parabolic/T/1D_neumann/newton_masslumping.prj
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls.prj
  Tests/Data/Parabolic/T/1D_neumann/picard.prj
  Tests/Data/Parabolic/T/1D_neumann/picard_masslumping.prj
  Tests/Data/Parabolic/T/2D_BHE_array/bhe2d.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1e2_axi.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/line_source_term_x=5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/286k_prisms/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/49k_prisms/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder_axisymmetric/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/line_source_term_x_0.5_y_0.5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/line_source_term_x_0.5_y_0.5_restricted.prj
Due: git-diff-check

[Test/T] Increased the comparison tolerance of a test from 1.e-15 to 1.e-14
  ProcessLib/HeatConduction/Tests.cmake
Due: git-diff-check

[Test/T] Add a test with inclided elements
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/mesh_r.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/mesh_r_left.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/mesh_r_right.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left_r.prj
Due: git-diff-check

[T] Enabled vector output of heat flux
  ProcessLib/HeatConduction/HeatConductionFEM.h
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
Due: git-diff-check, file-extensions

[T] Enabled to handle inclined element
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcessData.h
Due: git-diff-check, file-extensions

[TRM] Added an option of using vapour heat capacity
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

[TRM] Added if(S_L < 1.0) condition for vapour diffusion computation to speed the assembly
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

[TRM] Added the latent heat term
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

[Ctest/TRM] Added the Task C test for the case with vapour diffusion and latent heat
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0-Boundary-Bottom-mapped-plain.vtu
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0-Boundary-Heater-mapped-plain.vtu
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0-Boundary-Left-mapped-plain.vtu
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0-Boundary-Right-mapped-plain.vtu
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0-Boundary-Top-mapped-plain.vtu
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0-simplified-plain-with-p0-plain.vtu
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0.prj
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0_ts_10_t_864000.000000.vtu
Due: git-diff-check

[TRM] Replaced heat_capacity with specific_heat_capacity for gas_phase->hasProperty according to issue #3176
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

[Test/TRM] Registered CFT1 to run
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
Due: git-diff-check

[Test/TRM] Added a benchmark for TRM based on CTF1 experiment
  Tests/Data/ThermoRichardsMechanics/CTF1/CTF1.prj
  Tests/Data/ThermoRichardsMechanics/CTF1/CTF1_14.000000.vtu
  Tests/Data/ThermoRichardsMechanics/CTF1/boundary_left.vtu
  Tests/Data/ThermoRichardsMechanics/CTF1/boundary_right.vtu
  Tests/Data/ThermoRichardsMechanics/CTF1/domain.vtu
Due: none

[web/Test/TRM] Added a description about the benchmark of TaskCDECOVALEX2023
  web/content/docs/benchmarks/thermo-richards-mechanics/DECOVALEX2023-TaskC.md
  web/content/docs/benchmarks/thermo-richards-mechanics/decovalex_2023_c.png
  web/content/docs/benchmarks/thermo-richards-mechanics/decovalex_2023_c_S_t.png
  web/content/docs/benchmarks/thermo-richards-mechanics/decovalex_2023_c_T_t.png
Due: git-diff-check

[web/Test/TRM] Added a description about the benchmark of CTF1
  web/content/docs/benchmarks/thermo-richards-mechanics/CTF1.md
  web/content/docs/benchmarks/thermo-richards-mechanics/CTF1_results_S.jpg
  web/content/docs/benchmarks/thermo-richards-mechanics/CTF1_results_T.jpg
Due: git-diff-check

[web] Updated docs for OGS_BUILD_PROCESSES.
  web/content/docs/devguide/advanced/configuration-options.md
Due: git-diff-check

[cmake] Refactored (and fixed) processes setup logic.
  .gitlab-ci.yml
  Applications/ApplicationsLib/CMakeLists.txt
  ProcessLib/CMakeLists.txt
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check

[cmake] Fixes for ChemistryLib.
  CMakeLists.txt
  Tests/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
