Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

[A/IO/PetrelInterface] Cleanups.
  Applications/FileIO/PetrelInterface.cpp
  Applications/FileIO/PetrelInterface.h
Due: git-diff-check, file-extensions

[A/IO] Refactor constructPointsFromNodes from readTetGenGeometry().
  Applications/FileIO/TetGenInterface.cpp
Due: git-diff-check, file-extensions

[A/IO/PetrelInterface] Use for-range-loop for readability.
  Applications/FileIO/PetrelInterface.cpp
Due: git-diff-check, file-extensions

[A/IO/TetGen] Use overloaded GEOObjects::addPointVec().
  Applications/FileIO/TetGenInterface.cpp
Due: git-diff-check, file-extensions

[Ctest/HM] Changed the permeability of one benchmark to isotropic tensor to test dValue of Constant permeability.
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches.prj
Due: none

[MPL/Constant] Add dValue with a return value of 0.0
  MaterialLib/MPL/Properties/Constant.h
Due: git-diff-check

[T|Docu] unit test for Verma-Pruess model and documentation.
  Documentation/ProjectFile/properties/property/VermaPruessModel/c_VermaPruessModel.md
  Documentation/ProjectFile/properties/property/VermaPruessModel/t_critical_porosity.md
  Documentation/ProjectFile/properties/property/VermaPruessModel/t_exponent.md
  Documentation/ProjectFile/properties/property/VermaPruessModel/t_initial_permeability.md
  Documentation/ProjectFile/properties/property/VermaPruessModel/t_initial_porosity.md
  Tests/MaterialLib/TestMPLPermeabilityVermaPruessModel.cpp
Due: git-diff-check, file-extensions

[MPL] Verma-Pruess permeability model.
  Documentation/bibliography/other.bib
  MaterialLib/MPL/Properties/VermaPruessModel.cpp
  MaterialLib/MPL/Properties/VermaPruessModel.h
Due: git-diff-check, file-extensions

[MPL] Verma-Pruess permeability model creator.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateVermaPruessModel.cpp
  MaterialLib/MPL/Properties/CreateVermaPruessModel.h
Due: git-diff-check, file-extensions

[T/MPL] Added/modified unit tests to incorporate all combinations of media.
  Tests/MaterialLib/TestEffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions

[MPL] Generalisation of eff thermal conductivity model to three phases.
  MaterialLib/MPL/Properties/EffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions

[T/MPL] Increased information density by remoning redundant lines.
  Tests/MaterialLib/TestEffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions

[A/U/SimpleMeshCreation] Build createMeshElemPropertiesFromASCRaster with GUI disabled.
  Applications/Utils/SimpleMeshCreation/CMakeLists.txt
Due: git-diff-check

[cmake] Select lld over GNU gold over regular linker.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[cmake] Removed duplicate -O3 in release mode.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[ML] Added ParameterLib link dependency.
  MaterialLib/SolidModels/MFront/CMakeLists.txt
Due: git-diff-check

[MeL/IO] Add copyright headers.
  MeshLib/IO/XDMF/XdmfWriter.cpp
  MeshLib/IO/XDMF/writeXdmf.cpp
Due: git-diff-check, file-extensions

cmake-format AddTest.cmake
  scripts/cmake/test/AddTest.cmake
Due: git-diff-check

check-header: fixes in BaseLib.
  BaseLib/CMakeLists.txt
  BaseLib/DynamicSpan.h
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Handle interface libs and gen. expressions in check header.
  scripts/cmake/CheckHeaderCompilation.cmake
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

check-header: fixes in NumLib.
  NumLib/Fem/Integration/IntegrationGaussLegendreTri.h
Due: git-diff-check

check-header: fixes in MaterialLib.
  MaterialLib/CMakeLists.txt
  MaterialLib/MPL/Properties/CreateEffectiveThermalConductivityPorosityMixing.h
  MaterialLib/MPL/Properties/CreateEmbeddedFracturePermeability.h
  MaterialLib/MPL/Properties/CreateOrthotropicEmbeddedFracturePermeability.h
Due: git-diff-check

check-header: fixes in ChemistryLib.
  ChemistryLib/CMakeLists.txt
  ChemistryLib/PhreeqcKernelData/AqueousSolution.h
Due: git-diff-check

check-header: fixes in MeshLib.
  MeshLib/NodeAdjacencyTable.h
Due: git-diff-check

[ci] Improved check header job.
  scripts/ci/jobs/check-header.yml
Due: git-diff-check

[MPL] Add missing vector include.
  MaterialLib/MPL/Properties/CreateOrthotropicEmbeddedFracturePermeability.h
Due: git-diff-check

[MPL] Fix typo in forward declaration.
  MaterialLib/MPL/Properties/CreateEffectiveThermalConductivityPorosityMixing.h
Due: git-diff-check

check-header: fixes in GeoLib.
  GeoLib/CMakeLists.txt
Due: git-diff-check

fix: add -fPIC.
  scripts/ci/jobs/check-header.yml
  scripts/cmake/CheckHeaderCompilation.cmake
Due: git-diff-check

[MaL] Add missing EigenLinearSolver include.
  MathLib/LinAlg/Eigen/LinearSolverOptionsParser.h
Due: git-diff-check

[PL/BCST] Fix forward declarations.
  ProcessLib/BoundaryConditionAndSourceTerm/CreateDirichletBoundaryConditionWithinTimeInterval.h
Due: git-diff-check

[MPL] Forward declare structs as struct not class
  MaterialLib/MPL/Properties/CreateEffectiveThermalConductivityPorosityMixing.h
  MaterialLib/MPL/Properties/CreateOrthotropicEmbeddedFracturePermeability.h
Due: git-diff-check

[PL/U] Add missing DynamicSpan include.
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check

[BL] DynamicSpan; add missing include guard.
  BaseLib/DynamicSpan.h
Due: git-diff-check

check-header: ignore Qt-generated ui_*.h files.
  scripts/cmake/CheckHeaderCompilation.cmake
Due: git-diff-check

[cmake] Append target definitions to check header.
  scripts/cmake/CheckHeaderCompilation.cmake
Due: git-diff-check

[cmake] check-header, add current lib definitions
  scripts/ci/jobs/check-header.yml
  scripts/cmake/CheckHeaderCompilation.cmake
Due: git-diff-check

[cmake] Check header, fix hdf5 includes.
  MeshLib/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[ci] Fix check-header exit code on success.
  scripts/ci/jobs/check-header.yml
Due: git-diff-check

[ci] Skip *.ci-skip.ipynb notebooks in testrunner.
  Tests/Data/TH2M/TH/idealGasLaw/confined_compression.ci-skip.ipynb
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/lin_vs_quad.ci-skip.ipynb
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check
