Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: '^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
        exclude: '^scripts/ci/.*|.cmake-format.yaml'
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
    -   id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp'
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake'
    - id: cmake-lint
      additional_dependencies: ["cmakelang[YAML]"]
      exclude: 'scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake'

[PL/THM] clang-format.
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.h
  ProcessLib/ThermoHydroMechanics/LocalDataInitializer.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcessData.h
Due: git-diff-check, file-extensions

[THM] Enabled IP data writing and reading
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions

[THM/localassembler] Added members for IP I/O
  ProcessLib/ThermoHydroMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check

[THM] Check the shape function orders
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions

[ProcessLib/Python] Moved a double defined class to a new file.
  ProcessLib/BoundaryConditionAndSourceTerm/Python/FlushStdoutGuard.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonSourceTerm.cpp
Due: git-diff-check, file-extensions

[Process] Separate createLocalAssemblers for IC/BC and the equation, respectively
  ProcessLib/BoundaryCondition/ConstraintDirichletBoundaryCondition.cpp
  ProcessLib/BoundaryCondition/GenericNaturalBoundaryCondition-impl.h
  ProcessLib/BoundaryCondition/NormalTractionBoundaryCondition-impl.h
  ProcessLib/BoundaryCondition/Python/PythonBoundaryCondition.cpp
  ProcessLib/CMakeLists.txt
  ProcessLib/SourceTerms/Python/PythonSourceTerm.cpp
  ProcessLib/SourceTerms/VolumetricSourceTerm.cpp
  ProcessLib/Utils/ForBoundaryConditionOrSourceTerm/CreateLocalAssemblers.h
  ProcessLib/Utils/ForBoundaryConditionOrSourceTerm/LocalDataInitializer.h
Due: git-diff-check, file-extensions

clang-format
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/ProcessVariable.cpp
  ProcessLib/ProcessVariable.h
  ProcessLib/Utils/LocalDataInitializer.h
Due: git-diff-check, file-extensions

[PL/RM] clang-format.
  ProcessLib/RichardsMechanics/ComputeMicroPorosity.h
  ProcessLib/RichardsMechanics/CreateRichardsMechanicsProcess.h
  ProcessLib/RichardsMechanics/IntegrationPointData.h
  ProcessLib/RichardsMechanics/LocalDataInitializer.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcessData.h
Due: git-diff-check, file-extensions

[RM/DSM] bugfix for transport porosity computation in case of DSM
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check

[RM/DSM] change of parameters in ctest file to see the features of DSM
  Tests/Data/RichardsMechanics/double_porosity_swelling.prj
  Tests/Data/RichardsMechanics/double_porosity_swelling_t_100000.000000.vtu
  Tests/Data/RichardsMechanics/double_porosity_swelling_t_50000.000000.vtu
Due: none

[RM/DSM] adapt ctest result files
  Tests/Data/RichardsMechanics/double_porosity_swelling_t_100000.000000.vtu
  Tests/Data/RichardsMechanics/double_porosity_swelling_t_50000.000000.vtu
Due: none

Fix typo. [ci skip]
  web/content/docs/devguide/advanced/compiler-cache.md
Due: git-diff-check

[ci] Updated clang-format to 12.0.1.
  scripts/docker/Dockerfile.pre-commit
Due: git-diff-check

[ci] Extracted no-unity config into CMake preset.
  CMakePresets.json
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[cmake] Hide presets based on OS.
  CMakePresets.json
Due: git-diff-check

[cmake] Cleanup.
  scripts/cmake/Find.cmake
Due: git-diff-check

[cmake,ci] Added test presets.
  CMakePresets.json
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
  scripts/ci/extends/test-artifacts.yml
Due: git-diff-check

[ci] Removed OGS_USE_CONAN in lots of places.
  CMakePresets.json
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/build-linux-frontend.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/build-win.yml
  scripts/cmake/ConanSetup.cmake
Due: git-diff-check

fix specific_heat_capacity
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

[Mat/MPL] property creator.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateTemperatureDependentDiffusion.cpp
  MaterialLib/MPL/Properties/CreateTemperatureDependentDiffusion.h
Due: git-diff-check, file-extensions

[PL/CT] store temperature field in process data.
  ProcessLib/ComponentTransport/ComponentTransportProcessData.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[Docu] parameter documentation.
  Documentation/ProjectFile/prj/processes/process/ComponentTransport/t_temperature_field.md
  Documentation/ProjectFile/properties/property/TemperatureDependentDiffusion/c_TemperatureDependentDiffusion.md
  Documentation/ProjectFile/properties/property/TemperatureDependentDiffusion/t_activation_energy.md
  Documentation/ProjectFile/properties/property/TemperatureDependentDiffusion/t_reference_diffusion.md
  Documentation/ProjectFile/properties/property/TemperatureDependentDiffusion/t_reference_temperature.md
Due: git-diff-check

[PL/TRF] clang-format.
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

[Mat/MPL] temperature dependent model for molecular diffusion.
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/Properties/TemperatureDependentDiffusion.cpp
  MaterialLib/MPL/Properties/TemperatureDependentDiffusion.h
Due: git-diff-check, file-extensions

[T] update prj file.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport.prj
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport_ts_146_t_12614400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport_ts_219_t_18921600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport_ts_292_t_25228800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport_ts_365_t_31536000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transport_ts_73_t_6307200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transportts_0_t_0.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transportts_146_t_12614400.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transportts_219_t_18921600.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transportts_292_t_25228800.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transportts_365_t_31536000.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/TemperatureField_transportts_73_t_6307200.000000_expected.vtu
Due: git-diff-check

[PL/CT] clang-format.
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[PL/CT] compute temperature at the integration point.
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check

[THM] Updated the reference file of the LARGE benchmark.
  Tests/Data/ThermoHydroMechanics/Linear/CylindricalCavity/expected_CylindricalCavity_ts_68_t_7200000.000000.vtu
Due: none

[cpm] Use shapelib current master to silence some CMake warnings.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Use cmake_dependent_option().
  CMakeLists.txt
  scripts/cmake/CMakeSetup.cmake
Due: git-diff-check

[cmake] Feature summary with add_feature_info().
  CMakeLists.txt
  scripts/cmake/Features.cmake
Due: git-diff-check

[cmake] Add RPATH to Qt install location.
  scripts/cmake/Find.cmake
Due: git-diff-check

[cmake] Added missing build and test preset.
  CMakePresets.json
Due: git-diff-check

[poetry] Fix install command on Windows.
  CMakeLists.txt
  scripts/ci/jobs/build-linux.yml
  scripts/cmake/PythonSetup.cmake
  scripts/python/pyproject.in.toml
Due: git-diff-check

[T] Disable SimpleSynthetics_XDMF, see #3177.
  ProcessLib/LiquidFlow/Tests.cmake
Due: git-diff-check

[T] Disable Padilla benchmark, see #3178.
  ProcessLib/RichardsComponentTransport/Tests.cmake
Due: git-diff-check

[ci] Suppress CMake dev warnings.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
Due: git-diff-check
